[2014-10-13 16:32] ai opened #2 "Zopfli support"
Zopfli allows to compress files better, that common gzip

[2014-11-11 10:57] maxhauser opened #3 "Double compression on worker-loader bundles"
If the compression plugin is used with minRatio: 1 and asset: '{file}' web-worker bundles (those included with the worker-loader) get compressed twice.

[2014-11-11 12:18] #3 closed, assigned to nobody

[2014-12-29 17:29] zxcabs opened #4 "require.ensure doesn't know about .gz"
When i use require.ensure, webpack load uncopressed chunk, it will be great if webpack may load gziped chunk for gziped builds, and ungzip for ungzip builds.

[2015-03-01 09:13] stephanos commented on #2
@ai still interested?

[2015-03-01 11:11] ai commented on #2
Nope, I moved to Gulp.

[2015-04-08 04:46] alexfedoseev opened #5 "TypeError: Property 'source' of object #<Source> is not a function"
Webpack 1.7.3 — ok.

Webpack 1.8.0:
[code]

Here is my plugin config:
[code]

[2015-04-08 09:10] #5 closed

[2015-06-25 22:54] volkanunsal opened #6 "TypeError: Property 'source' of object #<Source> is not a function"
I am getting this error with the webpack version 1.9.12

[code]

[code]

[2015-06-25 22:54] volkanunsal commented on #6
I forgot to mention that the devtool is set to be `eval`

[2015-06-29 21:24] kenjim83 opened #7 "Not minifying?"
Hi Tobias!

I'm probably doing something wrong but I can't get the CompressionPlugin to generate the final gzipped .gz file during production build.

Here's my webpack.config file:

var webpack = require('webpack');
var baseConfig = require('./webpack/base-config');
var configurationCreator = require('webpack-configuration');
var CompressionPlugin = require('compression-webpack-plugin');
var path

[2015-08-12 20:58] codechaotic opened #8 "Can't use query strings in asset path"
A configuration which includes any query portion to the filename, as might be used for cache busting, leads to the plugin silently failing during compile. For example the following silently fails:

[code]

This should be fixed as it presents an issue for a fairly frequent use case. While there are alternative strategies for cache busting which are compatible with the plugin as it stands, such as i

[2015-08-31 19:09] wiredmax opened #11 "Remove source when renaming orignal file."
Would you be open to this idea if I submit a PR that allow you to delete the source of a file once it's gzipped if the result file name is different than the original with an augument like `removeOriginal: true`?

We have a case where we only want to keep only the gizped version in gzip folder. `asset: "gzip/{file}"`. We currently do that using a custom plugin exectued right after the compression,

[2015-09-10 05:33] Parakleta opened #12 "Compression Level option (or hardcode to 9)"
Since ideally this should be part of a build chain that compresses once and then delivers many times (as opposed to live compression) it makes sense to use the highest possible compression level.

Can you please either add an option to specify, or else change the default to use level 9 instead of the zlib default of 6.

[2015-11-30 17:04] bfin commented on #12
Was looking to do the same thing. While I agree it'd be a useful option, @sokra has a lot on his plate. This is my workaround:

First, define your algorithm...
[code]

...then pass to `CompressionPlugin`
[code]

[2015-11-30 23:51] Parakleta commented on #12
@bfin thanks very much, this workaround is exactly what I needed.  I completely missed that you could pass in a function as the algorithm.

[2015-12-09 22:51] D1plo1d commented on #12
I've put in a pull request to add level as an option and set it by default to 9. Hopefully this can get merged in: https://github.com/webpack/compression-webpack-plugin/pull/13

[2015-12-18 22:22] mjrussell opened #14 "Compression doesnt run on code split chunks"
If you use require.ensure for code splitting, and the compression plugin at the same time it seems that the compression skips over the chunks and only compresses the main chunk.

My config:
[code]

and

[code]

[2015-12-18 23:16] mjrussell commented on #14
Ah crap I figured it out, when I split the code out I made some really small chunks that are under the threshold.

Closing this...

[2015-12-18 23:16] #14 closed

[2015-12-29 12:48] Peekab0o commented on #7
Have you found an error?

[2016-01-05 18:54] unindented opened #15 "`{file}` instead of `[file]`?"
@sokra, all your plugins and loaders use `[...]` for variable interpolation in strings... Why does this one use `{file}`?

[2016-01-05 19:16] sokra commented on #15
it's old...

[2016-01-05 19:28] unindented commented on #15
Not worth bumping the minor version and changing?

[2016-01-21 12:10] sokra commented on #11
yes, you can submit a PR.

[2016-01-23 11:39] #12 closed

[2016-01-25 00:20] samkelleher opened #16 "TypeError: Invalid non-string/buffer chunk in v0.3 (worked in v0.2)."
In the webpack config under `plugins`.

[code]

The `regExp` was renamed as per the breaking change. But nothing else has changed. The build will succeed in v0.2 but gets the error in v0.3

Stacktrace:

[code]

[2016-01-25 00:37] samkelleher commented on #16
Can confirm that rolling back to 0.2 works normally with no other changes.

[2016-01-25 19:17] calvinl commented on #16
Just saw this error as well. Confirmed rolling back to `0.2.0` works.

[2016-01-25 19:51] mjrussell commented on #16
:+1:

[2016-01-26 10:38] AymanNatsheh commented on #16
rolling back to 0.2.0 works

[2016-01-27 17:12] canvaskisa commented on #16
Also facing this issue.

[2016-02-02 02:43] hqxluoyang commented on #16
And I just happened to meet.

[2016-02-04 22:28] Icehunter commented on #16
I have this same issue as well.  My bigger concern is why this repo is not following semver?  I saw 0.3.0 was published as a "breaking change".  Should that not have been 1.0.0?  Because NPM uses ^X.X.X by default this just possibly will break anyone's usage unless they explicitly hardcode versions.

[2016-02-05 01:15] Icehunter commented on #16
Fix proposed:
https://github.com/webpack/compression-webpack-plugin/pull/17

[2016-02-05 16:43] jsg2021 commented on #16
@Icehunter it is kindof semvar :)

http://semver.npmjs.com/ put in "^0.2.0" for "compression-webpack-plugin" and see that only 0.2.0 is highlighted.

[2016-02-05 17:40] Icehunter commented on #16
@jsg2021 They may not have updated the front portion of the site but the default behavior of NPM has changed since 4+.

Such as if you do:
npm i hapi@^11.0.0
test@0.0.0 /Users/icehunter/GitHub/nodeplayground
└── hapi@11.1.4  extraneous

The same if I did:
npm i hapi@^10.0.0
test@0.0.0 /Users/icehunter/GitHub/nodeplayground
└── hapi@10.5.0  extraneous

If you click through to https://docs.npmjs.com

[2016-02-06 02:32] cchamberlain commented on #16
This has been breaking my builds and throwing lots of errors since the inclusion of the node-zopfli stuff on windows.

[2016-02-06 02:55] cchamberlain commented on #16
Also @Icehunter, anything semver 0.x.x is considered initial development and may change at any time.  See http://semver.org/#spec-item-4

[2016-02-06 03:31] Icehunter commented on #16
Fair enough. I'll wait till this hits 1.0 to use it then. Personally though even if it's under 0.X I follow it as much as I can :)

[2016-02-06 18:13] jsg2021 commented on #16
@Icehunter "^0.x.y" is special case... just as @cchamberlain said. when the major is "0" the caret makes minor locked.

[2016-02-09 04:54] cchamberlain commented on #16
@Icehunter I've been using 0.2.0 in prod for some time on Windows and OSX and haven't had any issues until 0.3.0. :beers:

[2016-02-13 06:57] gajus opened #19 "Error: Cannot find module 'webpack/lib/RawSource'"
[code]

This seems to be caused by `compression-webpack-plugin`.

[2016-02-16 09:21] graingert commented on #16
yeah I get this problem also

[2016-02-18 00:55] robbyoconnor commented on #16
I got this issue too

[2016-02-25 00:57] zjhiphop commented on #16
Any progress for this issue?

[2016-02-25 01:01] zjhiphop commented on #16
The 0.2.0 works, but the build result seems strange.
The config i used:
[code]
After build, there generated a file named with '[path].gz[query]', that's so boring. Any one could help with it?

[2016-02-25 03:47] calvinl commented on #16
@zjhiphop that the syntax for `0.3.0`. Try it with `{file}.gz` instead if you're using `0.2.0`.

[2016-02-28 01:14] richtier opened #20 "Unexpected character added to &nbsp"
When compressor is active I get the following:

<img width="239" alt="screen shot 2016-02-28 at 01 12 12" src="https://cloud.githubusercontent.com/assets/5485798/13376610/56fcf1a6-ddb8-11e5-83c6-3ec4e18a8932.png">

The `Â` should not be there. It is not there when compressor is not active.

my config is as follows:

[code]

[2016-02-28 12:23] richtier commented on #20
spoke too soon - was this problem: https://github.com/callemall/material-ui/issues/2244

[2016-02-28 12:23] #20 closed

[2016-03-08 23:14] romeovs opened #22 "Assets generated by extract-text-webpack-plugin are not compressed"
The assets that are created by `extract-text-webpack-plugin` are not compressed in my web pack builds.

For instance `.css` files are not compressed. The funny thing is that the `.css.map` files *are* compressed.

Has anyone noticed this?
I will post a configuration example tomorrow!

[2016-03-09 13:11] romeovs commented on #22
This is my config:
[code]

[2016-03-09 16:01] romeovs commented on #22
OK. Let's just say I was tired yesterday. It turns out the css file wasn't gzipped because the ratio wasn't good enough.

[2016-03-09 16:01] #22 closed

[2016-03-14 12:23] gajus commented on #19
@sokra Are you waiting for a PR?

[2016-03-15 19:40] cj commented on #22
@romeovs what settings did you use to get it to work and gzip the css?

[2016-03-15 20:06] romeovs commented on #22
You should make sure that the CSS file is large enough for it to be compressed significantly enough for the compression to make sense (otherwise the browser will spend more time unzipping the file than in just receiving it uncompressed).

This is expressed using the `ratio` option, it defaults to `.8` from what I can see. This means that the compressed file should have at most 0.8 times the size o

[2016-03-25 00:40] ev1stensberg opened #23 "Cannot find module "compression-webpack-plugin""
Is this plugin outdated?

[2016-03-25 13:56] dshorowitz commented on #16
+1 Also have this issue

[2016-03-28 20:43] erwingaitano commented on #19
Are you using Webpack 2? I'm having the same problem with that version of webpack. In webpack 1.x just works fine.

[2016-03-29 08:15] gajus commented on #19
Using webpack 2.

[2016-03-29 11:18] abilng opened #24 "TypeError: object is not a function"
When I added `new CompressionPlugin()` to plugin array. I am getting a error.

[code]

node: v0.10.40
npm: 1.4.28

[2016-03-29 13:15] h4l opened #25 "algorithm function now takes options param which is always an empty object"
0.3.1 (specifically #18) changed the algorithm option's signature from `function(buf, callback)` to `function(buf, options, callback)`, but `options` is pointless as it's always an empty object.

`this.compressionOptions` is only populated if this.algorithm is a string

It seems to me that there are two options:
## 1. Remove the option arg added in 0.3.1

 Pros:
- Simpler code
- Options is not rea

[2016-03-29 13:35] h4l commented on #24
Which version of `compression-webpack-plugin` are you using and which options are you passing?

[2016-03-29 20:33] mathieumg commented on #16
Fixed in v0.3.1, this could be closed!

[2016-03-30 04:20] abilng commented on #24
version: "0.3.1"

[2016-03-30 09:00] h4l commented on #24
Are you providing your own function with the `algorithm` option like this?:

[code]

If so the reason is that 0.3.1 changed the arguments of the algorithm function. See #25. You need to change the signature to `function(buf, options, cb)`

[2016-03-30 11:29] jornare commented on #16
All the change I can see in 1.3.1 is the bump in version. Am I mistaken?

[2016-03-30 11:31] graingert commented on #16
@jornare https://github.com/webpack/compression-webpack-plugin/compare/v0.3.0...v0.3.1

[2016-04-01 13:37] danb-cws opened #28 "Error "Algorithm not found in zlib""
EDIT: working now, replaced: algorithm: 'gzipMaxCompression', with just gzip. Not sure where I piced up that config. Thanks.

Trying to use this plugin on Windows and getting the error: "Algorithm not found in zlib"

node_modules\compression-webpack-plugin\index.js:36
if(!this.algorithm) throw new Error("Algorithm not found in zlib");

I'm on Windows10 pro and have followed the setup as per
https:

[2016-04-01 13:45] #28 closed

[2016-04-08 01:49] smitchell commented on #24
I get this error too, on my home machine, but not at work with the same project. It must some version that is different between environments.

"If you do, this is most likely a problem with the angular2-webpack-starter package,"

`zlib.js:227
    callback(err, buf);
    ^

TypeError: callback is not a function
    at Gzip.onEnd (zlib.js:227:5)
    at emitNone (events.js:85:20)
    at Gzip.emit (ev

[2016-04-08 10:35] sokra commented on #25
@gajus

[2016-04-16 17:40] bkinsey808 opened #29 "install error"
I have errors installing this project. This is affecting any project that has this project as a dependency. I've cross referenced this error both downstream and upstream. Until this node-zopfli error is resolved, I recommend not using node-zopfli as a dependency.

- https://github.com/pierreinglebert/node-zopfli/issues/42
- https://github.com/pmachowski/angular2-starter-kit/issues/4

I have the la

[2016-04-16 20:30] bkinsey808 commented on #29
Closing this issue, because i realized it is installed as an optionalDependency and code on this project looks like it correctly handles it.

[2016-04-16 20:30] #29 closed

[2016-04-21 09:44] weltraumpirat commented on #24
I can confirm a signature change will fix the problem with angular2-webpack-starter package. You need to edit `helper.js` from this:

[code]
to this:

[code]

[2016-04-21 11:56] smitchell commented on #24
Thanks, I made this change on the machine where "build:prod" was failing and verified it was fixed. What library version caused the need for this change? Is this a breaking change for the machines that were working? I assuming I'll need to bring all our machines to some minimum version of that library.

[2016-04-21 13:59] weltraumpirat commented on #24
As @h4l said:

So 0.3.1 of compression-webpack-plugin changed the API that the angular2-webpack-starter package relies on. The thing is, there's already an open issue that requests the change to be reversed, or at least optional (sic). I probably wouldn't go nuts changing that call on all your machines, if you can postpone it.

[2016-05-02 00:58] erwingaitano commented on #7
I took me a while to notice that my gz files weren't being generated until a few days ago. Previously in the plugin config, the asset key was: `"{file}.gz"` but I noticed that they changed it to `"[file].gz"`.

[2016-05-05 10:37] graingert opened #30 "doesn't seem to compress HTML from html-webpack-plugin"

[2016-05-06 11:55] richtier commented on #30
worth checking if changing `minThreshold` to a lower value will solve this, and ensure `test` includes html, e.g.,:

[code]

[2016-05-06 12:21] richtier commented on #30
hmm actually I am getting this problem too now - intermittently.

[2016-05-06 12:22] graingert commented on #30
is this a plugin ordering issue? Is there a race between the HTML plugin and the compression plugin?

[2016-05-26 18:10] iGitScor commented on #23
Did you install it ? Is it added to your `package.json` ?

I didn't have any issue by installing it today

[2016-07-04 15:25] FredericHeem commented on #2
The PR creates 2 issues:
* Even if *node-zopfli* is not used, end users need to install python and a C++ compiler which is really annoying especially on windows.
* Behind a corporate firewall and with github blocked, *node-zopfli* cannot be installed.
What's your opinion of creating a new webpack plugin that supports  *node-zopfli* and remove it from this package ?

[2016-07-15 15:32] lhtdesignde commented on #29
getting similar warnings but i'm using gzip. if it's an optionalDependency, can I somehow prevent this warnings from showing up?

[2016-07-26 19:11] #4 closed

[2016-07-26 19:15] palmerj3 commented on #6
@volkanunsal I'm unable to reproduce this. Can you provide more information? Is this still an issue for you?

[2016-07-26 19:33] volkanunsal commented on #6
Latest version seems to have fixed the issue.

[2016-07-26 19:33] #6 closed

[2016-07-26 23:32] palmerj3 commented on #7
@erwingaitano hello! Has this been resolved?

[2016-07-26 23:34] palmerj3 commented on #8
@codechaotic sounds like this can be closed. Can you confirm? Thanks!

[2016-07-26 23:35] palmerj3 commented on #11
Closing since this is not an issue

[2016-07-26 23:35] #11 closed

[2016-07-27 02:23] erwingaitano commented on #7
Yes, this was resolved at least in my case. I think it was due to breaking changes introduced in a later version at that time, where `{file}.gz` was replaced with `[file].gz`, making already configs using `{file}.gz` to crash.

[2016-07-28 15:54] pavankumarkatakam opened #32 "Decompression problem"
If we compress the static content before the browser asks, some browsers doesnt know how to decompression then their may be a problem. I haven't used this just though of this problem.

[2016-08-04 02:16] ljfranklin commented on #30
Ran into a similar problem here: https://github.com/markdalgleish/static-site-generator-webpack-plugin/issues/44. There's also a related discussion going on here: https://github.com/ampedandwired/html-webpack-plugin/issues/142.

[2016-08-11 08:41] prewk commented on #32
http://webmasters.stackexchange.com/questions/22217/which-browsers-handle-content-encoding-gzip-and-which-of-them-has-any-special

[2016-08-19 06:53] ShaneCourtrille commented on #2
Or the node-zopfli version dependency needs to be better maintained.  The compiled binaries that would allow usage without python/VC++ for node v4 are only available for node-zopfli 2.x as per [here](https://github.com/pierreinglebert/node-zopfli/issues/76)

[2016-09-09 08:30] DNx5 commented on #2
i have problem with node-zopfli in windows too, after downloading and installing gigs of visual studio/sdk and other things but still can't get it to work for days. in the end I just manually changed the version of node-zopfli inside `compression-webpack-plugin`'s package.json into 2.0.0 and then it works fine.

[2016-09-27 10:03] tbrisker commented on #24
This error also occurs when using compression-webpack-plugin with node 0.10, which doesn't support the options parameter for gzip.
As a workaround I used the following code:
[code]

[2016-09-28 15:38] GregOnNet opened #35 "[Request] Release version 0.3.2 to npmjs.org"
Hey guys,

can you publish version 0.3.2 of  `compression-webpack-plugin` to npmjs.org, please?
I have an issue installing `angular-cli` on windows machines because references `compression-webpack-plugin` as Git-Repository. This leads into problems with `Cygwin Git`.

For further information please refer to https://github.com/angular/angular-cli/issues/2394.

[2016-09-30 16:18] TheLarkInn commented on #35
@sokra when you get a second, shoot me the rights over and I'll cut a release

[2016-10-03 13:53] generalov commented on #2
@DNx5 try to install VC++ and Python on Windows with https://www.npmjs.com/package/windows-build-tools (it takes about 5 minutes on my machine).

[2016-10-03 15:05] FredericHeem commented on #2
Or add `optional=false` in your `.npmrc` to avoid installing unnecessary dependencies.

[2016-10-12 22:01] AnderssonPeter opened #36 "Add support for Brotli"
Please add support for the compression algorithm brotli

[2016-10-13 17:37] cDecker32 commented on #35
Just an FYI, though the issue specified in the OP is now closed. There are a lot of people using angular-cli that this is causing problems for. Please cut a release over to npm asap.

[2016-10-13 17:45] TheLarkInn commented on #35
Thank you for an update, I've been working to have these privileges granted so this doesn't happen in the future. Please bear with us as the original author is on vacation.

[2016-10-14 02:07] sokra commented on #35
Added you to npm

[2016-10-14 18:34] TheLarkInn commented on #35
[code]

Done!!!! Enjoy!! Sorry for the delay. I'd close the issue but I can't currently. :joy:

[2016-10-14 18:36] cDecker32 commented on #35
Awesome! Thanks!

[2016-10-20 07:15] jantimon commented on #30
This issue could be solved on the level of the compression-webpack-plugin - who is maintaining this plugin right now?

[2016-11-17 23:45] StokeMasterJack commented on #20
I am getting the exact same problem. But I am not using callemall/material-ui#2244. I think it may have something to do with charsets.

[2016-12-07 17:07] TomDeBacker commented on #30
bump

[2016-12-07 23:51] TomDeBacker commented on #30
@jantimon @graingert
If it helps, I had the same issue and created a plugin that does this.
https://github.com/TomDeBacker/html-compression-webpack-plugin

[2016-12-09 15:40] nertzy commented on #35
Please add a tag so that it shows up in the GitHub releases as well. Thanks!

[2017-01-09 04:42] redzumi opened #39 "TypeError: this.algorithm is not a function"
`\node_modules\compression-webpack-plugin\index.js:70`
`this.algorithm(content, this.compressionOptions, function(err, result) {`
node v7.2.0 \ webpack 2.2.0-rc.3

[2017-01-27 14:30] #39 closed

[2017-02-05 17:11] Frank3K commented on #36
There exists a JS version of the brotli compressor and decompressor: [brotli.js](https://github.com/devongovett/brotli.js). Would it be possible to integrate that one?

[2017-02-05 18:46] Frank3K commented on #36
Proof of concept using [iltorb](https://github.com/MayhemYDG/iltorb):

[code]

[2017-02-14 11:37] chandrasekarb opened #40 "How to use/render bundle.js.gz in html file"
webpack.config.js

[code]

server.js

[code]

output files:

vendor.bundle.js        1.38 MB       0  [emitted]  vendor
bundle.js         943 kB       1  [emitted]  app
vendor.bundle.js.map        9.83 MB       0  [emitted]  vendor
bundle.js.map        4.13 MB       1  [emitted]  app
bundle.js.gz         165 kB          [emitted]
vendor.bundle.js.gz         361 kB          [emitted]
index.html

[2017-02-14 18:42] TomDeBacker commented on #40
Try removing the .gz. You should have a look at this plugin aswell:
 https://github.com/jantimon/html-webpack-plugin

[2017-02-28 13:32] bmsdave commented on #28
@danb-cws  why close? you fix it?

[2017-02-28 15:25] danb-cws commented on #28
@bmsdave I ended up using this package due to other issues
https://www.npmjs.com/package/compression

[2017-03-01 11:01] zzzgit opened #43 "what is for?"
Hello,I want to ask that what's this plugin for?
As the web server have the functionality to serve files in a compressed format,is it necessary to use this plugin to convert the file format?

[2017-03-02 03:49] ijpiantanida commented on #43
Compressing files on the fly is CPU consuming for the web server.
By pre-compressing assets, you serve them as any other static file.

[2017-03-02 04:31] zzzgit commented on #43
Will it rise the configuration of web server?What should I do after the generation of compacted files?

[2017-03-02 04:48] ijpiantanida commented on #43
This doesn't touch the web server. It just creates the compressed assets. You should then put them with all the other static assets you have (along side the uncompressed assets).

You should also make sure that your web server is able to deliver both compressed and uncompressed assets based on the Accept header.

[2017-03-02 05:38] zzzgit commented on #43
Okay thanks

[2017-03-02 10:51] AhmedHadjTaieb opened #46 "why i have double output file .gzip and original file !!!"
Angular-CLI 1.0.0 RC0
Webpack 2.2.1

i use webpack CompressionPlugin and when i run npm build i found double file with the same name in dist folder, it's correct ???
my code for output in webpack.conf.js :
"output": {
    "path": path.join(process.cwd(), "dist"),
    "filename": "[name].bundle.js",
    "chunkFilename": "[id].chunk.js"
  },

![2017-03-02](https://cloud.githubusercontent.com/assets/

[2017-03-08 10:32] leefsmp commented on #46
same ... guidance is appreciated, your readme is rather minimalistic

[2017-03-09 12:44] TomDeBacker commented on #46
Original file and compressed file..

[2017-03-12 14:36] #35 closed

[2017-03-12 14:36] #43 closed

[2017-03-12 14:37] michael-ciniawsky commented on #30
@jantimon  Can you explain how compression-webpack-plugin could solve the issue ?

[2017-03-12 14:39] #7 closed

[2017-03-12 14:44] michael-ciniawsky commented on #2
@FredericHeem @DNx5 @generalov @ShaneCourtrille If one of you guys still have issues regarding this plugin and windows useage please open a new issue 😛

[2017-03-12 14:44] #2 closed

[2017-03-12 14:47] michael-ciniawsky commented on #15
This seems to be resolved already, if I missed something please reopen

[2017-03-12 14:47] #15 closed

[2017-03-12 14:51] #16 closed

[2017-03-12 14:53] michael-ciniawsky commented on #19
@gajus @erwingaitano @zhaoyangsoft Still not working with lastest webpack and compression-webpack-plugin?

[2017-03-12 14:54] michael-ciniawsky commented on #23
@ev1stensberg Please reopen if it shouldn't be resolved, assuming it is  😛

[2017-03-12 14:54] #23 closed

[2017-03-12 15:01] michael-ciniawsky commented on #24
Will be fixed by either #26 , #27 discussion moved to the respective PR's, feedback highly welcome 😛 . Vote with 👍 / 👎  on the opening post of the PR you prefer

[2017-03-12 15:01] #24 closed

[2017-03-12 15:14] michael-ciniawsky commented on #8
@codechaotic Please feel free to reopen if not, should be fixed  😛

[2017-03-12 15:14] #8 closed

[2017-03-12 15:15] michael-ciniawsky commented on #32
@prewk Thx

[2017-03-12 15:15] #32 closed

[2017-03-12 15:16] michael-ciniawsky commented on #25
@h4l Discussion moved to one of your PR's. Thx in advance 😛

[2017-03-12 15:16] #25 closed

[2017-03-12 15:17] michael-ciniawsky commented on #46
@AhmedHadjTaieb  @leefsmp  @TomDeBacker Discussion moved to #44

[2017-03-12 15:17] #46 closed

[2017-03-12 15:28] michael-ciniawsky commented on #40
@chandrasekarb  https://github.com/koajs/static#options You need to explicitly enable GZIP serving in koa-static via options.gzip

[2017-03-12 15:28] #40 closed

[2017-03-12 16:14] ijpiantanida commented on #30
@michael-ciniawsky if I understand correctly, this would also be solved by #45. It's the same problem.

[2017-03-12 18:47] ev1stensberg commented on #23
@michael-ciniawsky So long time ago, I can't even remember what I was trying to do in the first place 😆

[2017-03-13 09:34] jantimon commented on #30
@michael-ciniawsky there is an event fired by the html-webpack-plugin which could be used

[2017-03-13 15:45] michael-ciniawsky commented on #30
@jantimon Mind to give 'this event' a name 😛 , in case #45 isn't resolving the problem?

[2017-03-21 06:03] swernerx commented on #36
For this it would be useful to have multiple outputs as well e.g. brotli + zopfli so that in one plugin step both "files" could be created for widest possible client support.

Also another obvious requirement would be multiple parallel file processing aka workers(/threads.

[2017-03-21 06:24] michael-ciniawsky commented on #36
We consider testing and documenting how to use third party algos (brotli, zopfli, guetzli) with this plugin and by default ship zlib (gzip) only, mainly bc of native modules support

[code]

@swernerx If you have a solution in mind send PR highly welcome and appreciated 😛

[2017-03-27 06:41] changfuguo opened #47 "can not work with png and html"
config as below:

[code]
and i am sure the size of file greater than 1024
output list as below:

![](https://raw.githubusercontent.com/changfuguo/share/master/images/compression_webpacl_plugin_issue/123.png)

[2017-03-27 15:44] michael-ciniawsky commented on #47
@changfuguo Do you load the `png/html` via webpack ?

[2017-03-30 09:32] Eightyplus opened #48 "node-zopfli not found eventhough it is installed"
[code]
So the require in `compression-webpack-plugin/index.js` fails...

[code]

[2017-03-30 09:48] Eightyplus commented on #48
I't works when install `node-zopfli@2.0.0`, please use specific version!

[2017-03-30 10:26] michael-ciniawsky commented on #48
@Eightyplus Curious, why the version must be specific ? 😛

[2017-03-30 10:30] Eightyplus commented on #48
You tell me, you created the loose dependency.

[2017-03-30 10:40] michael-ciniawsky commented on #48
kk I see now 😛 , I'm not the maintainer here, I will check why it is there in the first place and if it can be safetly removed, mom.

[2017-03-30 10:42] Eightyplus commented on #48
We are struggeling with loose dependencies and migrating toward yarn to avoid this problem. But now and then it breaks because we haven't locked down all dependencies :)

[2017-03-30 10:46] michael-ciniawsky commented on #48
Setting it and the current range maybe also wrong :)

[2017-03-31 11:06] Eightyplus commented on #48
I'm still trying to locate the exact problem, printing `console.log(err)` before the error is thrown I get the following. It could indicate problems with another dependency, I'll keep you updated.

[code]

[2017-03-31 11:48] Eightyplus commented on #48
What version of node/npm is required?

[2017-03-31 12:12] michael-ciniawsky commented on #48
@Eightyplus webpack 1 + plugin should be fine with node`>= 0.12.x` && npm `>=2.x`, webpack 2 requires node `>= 4`

This is a node native modules (C/C++) issue in `node-zopfli`  the glibc on your system may mismatch with the one required by `node-zopfli`. Why and if this an issue because of the node version in use etc., I'm no real help here, since C/C++ isn't my daily bread :D

[2017-04-03 05:40] Eightyplus commented on #48
Hi, it turn out it is a build vs. runtime environment issue. Sorry about that.

[2017-04-03 05:40] #48 closed

[2017-04-04 21:00] audiolion opened #49 "Chunk name"
Hello,

Is there a way to attach a chunk name to this output? Other plugins I use work on the chunks that were output and this plugin doesn't attach any chunk name.

This may not be possible (e.g. this plugin is taking the chunks and compressing them and outputting them), but it would be nice if that were the case that it would delete the old files (this function is already there) and the new file

[2017-04-05 11:02] myknbani opened #50 "deleteOriginalAssets not working?"
I stll have my original vendor.js bundle alongside vendor.js.gz.  Curious if this works with multiple entry points.

[code]

[2017-04-05 16:16] mastilver commented on #50
If you look at the code, it's not actually deleting the file, just removing it from the webpack output

https://github.com/webpack-contrib/compression-webpack-plugin/blob/master/index.js#L84-L86

[2017-04-05 19:12] michael-ciniawsky commented on #47
@changfuguo If you still have problems feel free to reopen or open a new issue :)

[2017-04-05 19:12] #47 closed

[2017-04-05 19:13] michael-ciniawsky commented on #19
Reopen if still any regressions or open a new issue :)

[2017-04-05 19:13] #19 closed

[2017-04-06 18:20] michael-ciniawsky commented on #49
@audiolion Could you provide a small example (code) for that please 😛

[2017-04-06 18:23] michael-ciniawsky commented on #50
@myknbani @mastilver Tbh, I need to investigate, why this is the current behaviour and if it's simply a bug. Any position upon that, please express them 😛

[2017-04-06 18:41] mastilver commented on #50
I guess it could be confusing, but to me it doesn't matter as long as it's removed from the `assets`

[2017-04-06 23:58] Milewski commented on #50
I guess his build dir might not be cleared before each build and the js left were result of the previous one...

[2017-04-07 03:09] myknbani commented on #50
@Milewski  My build dir is cleared.  I'll try this without multiple entry points

[code]

[2017-04-07 03:17] myknbani commented on #50
Still no luck, I tried removing plugins except Uglify and Compression... with only 1 entry point.
Original asset still there.

[code]

[2017-04-07 10:51] r3dDoX commented on #30
I'm not exactly sure, but I have an issue that's maybe caused by the same root.

In my app I use CommonChunksPlugin to generate various bundle files including a manifest file like mentioned in the [docs](https://webpack.js.org/plugins/commons-chunk-plugin/#manifest-file).

For the bundle files the compression works just fine. But the manifest file isn't compressed. Might that be the same root caus

[2017-04-07 16:20] michael-ciniawsky commented on #50
@myknbani Yep currently this is the expected behaviour according to the code, but the question is why (e.g as fallback) or because the code is incorrect and it can be removed?

[2017-04-07 16:40] michael-ciniawsky commented on #30
@r3dDoX Please provide more info on this + show some code 😛

[2017-04-08 01:34] myknbani commented on #50
Sorry, I'm not really familiar with Webpack internals.   But I saw this on SO, one guy made a SupressChunkPlugin, and `delete` was also used.

[code]

[2017-04-08 01:50] myknbani commented on #50
Ugh!  I was about to experiment with doing some `console.log`s inside node_modules, and guess what?  I have an old version.  I treated the Gthub readme as the official docs.

This is a recent addition and not yet released on NPM!  I can see that `deleteOriginalAssets` is not documented on NPM.

It works with the github version, so sorry for the trouble.

[code]

[2017-04-08 01:50] #50 closed

[2017-04-08 03:20] d3viant0ne opened #52 "webpack-defaults upgrade"
Addition of `webpack-defaults` & associated refactoring as a part of the next `Major` release

Issue exists for status tracking across the organization.

[2017-04-08 03:21] d3viant0ne commented on #50
@myknbani - I'll have this out on NPM shortly.

[2017-04-14 14:16] r3dDoX commented on #30
@michael-ciniawsky  Sorry, didn't see the notification. Yeah so my webpack config basically looks like this:
`
const path = require('path');
const webpack = require('webpack');
const HtmlWebpackPlugin = require('html-webpack-plugin');
const CopyWebpackPlugin = require('copy-webpack-plugin');
const CompressionPlugin = require("compression-webpack-plugin");

module.exports = {
  entry: './src/client

[2017-04-17 19:49] EvgenyKravchenko commented on #48
@Eightyplus Hey, I've got the same issue.
[code]
How did you solve this? Thanks

[2017-04-17 20:02] Eightyplus commented on #48
Well, the build/runtime environment was different, so the packages has to be rebuild as suggested
`rm -rf node_modules && npm install`

[2017-04-17 20:05] EvgenyKravchenko commented on #48
Hmm, I'm trying to run it inside fresh docker container and getting these error. Anyway, thank you

[2017-04-17 20:06] EvgenyKravchenko commented on #48
It's strange, but locally with NODE_ENV=production everything is working. So something is missing in docker container

[2017-04-18 04:50] Eightyplus commented on #48
Maybe your production env is different the other. I would check my `webpack.config.js` then.

[2017-04-20 05:40] michael-ciniawsky opened #55 "Standardize README"

[2017-05-02 08:07] d3viant0ne commented on #36
@swernerx - We were just discussing this. Some if not most of these libs have varying system & compilation requirements making adding `X` number of compression libs problematic at best. They are also far from tiny on disk.

We are going the other direction with all of this, `node-zopfli` is going to be split into it's own compression plugin. The existing `compression-webpack-plugin` with handle co

[2017-05-02 08:07] #36 closed

[2017-05-02 08:11] d3viant0ne opened #56 "Split out node-zopfli"
- Support from  `node-zopfli` will be dropped from `compression-webpack-plugin` in the next Major release.

`zopfli-webpack-plugin` will be published with an identical API less the optional dependency.

Relates to #54

[2017-05-02 08:31] d3viant0ne commented on #48
@Eightyplus - For reference, zopfli is being split out into it's own lib in the upcoming Major version of compression-webpack-plugin.

[2017-05-02 10:42] Eightyplus commented on #48
@d3viant0ne thanks for letting me know!

[2017-05-03 13:03] tarim commented on #40
@chandrasekarb any luck? I have same issue, It doesn't work for me at all.

any suggestion please?

![image](https://cloud.githubusercontent.com/assets/453087/25661584/3f4c2124-2fdf-11e7-9727-61e5017d7409.png)

Thank you,

NS

[2017-05-03 18:09] noahmonster commented on #29
Only way I've found to get around this is to do `npm install --no-optional`.  This prevents NPM from downloading any optional dependencies.

Unfortunately, this turns off **all** optional dependencies for your project and not just `node-zopfli`.

[2017-05-05 16:43] sibelius commented on #49
you can use `[chunkhash]` in your bundle names

this package will only add `.gz` to it

example

[code]

[2017-05-05 18:41] michael-ciniawsky commented on #49
@audiolion See @sibelius post
@sibelius Thx 😛

[2017-05-05 18:41] #49 closed

[2017-05-16 16:43] retwedt opened #57 "Using Compression plugin alongside 'html-webpack-plugin'"
Is it possible to make the Html Webpack plugin insert a link to the .gz build file instead of the normal .js build file?

Is this even the right place to ask this question??

Thanks for your help, and thanks for your work on a great plugin!

[2017-05-16 19:24] retwedt commented on #57
Apparently this is a duplicate of #45

[2017-05-16 20:16] Danjavia opened #58 "Set content-econding: gzip header in gzipped files"
Ho to add a new meta content-encoding: gzip to gzipped files?

[2017-05-18 01:37] anlexN opened #59 "compression-webpack-plugin and ZopfliWebpackPlugin , what different? what better?"
compression-webpack-plugin and ZopfliWebpackPlugin , what different? what better?

[2017-05-19 20:31] d3viant0ne commented on #59
@anlexN - I am splitting out the different compression libs into separate loaders.

`gzip` is the most commonly used, the faster of the two but doesn't compress quite as much ( ~5% dependent on what you are compressing ).

`Zopfli` is pretty much the exact opposite but does come with a few system level requirements that gzip does not ( python for one ).

The change has little to do with what is be

[2017-05-20 01:15] anlexN commented on #59
these plugn will be changed to loader? when is the next major release? will you drop zopfli-webpack-plugin?

[2017-05-20 02:17] d3viant0ne commented on #59
zopfli-webpack-plugin hasn't been published yet. That needs to go out first, then a `1.0.0-beta` version of `compression-webpack-plugin` needs to be published which includes the `webpack-defaults` updates and drops the zopfli option.

[2017-05-20 03:58] anlexN commented on #59
@d3viantOne, you are good man.
from webpack/hot-node-example repository:
i have a problem when i target: 'node" in webpack , want to use in the browser. i also use node-libs-browser , but see below!
![require warning](https://cloud.githubusercontent.com/assets/8686739/26272759/5477ff56-3d53-11e7-9d24-b8b5d8aa52f9.PNG)
![require](https://cloud.githubusercontent.com/assets/8686739/26272760/555a2778-

[2017-05-29 00:13] enzolutions commented on #58
Hi, guys great job BTW.

I have the same question, how I could include gzip files in my HTML or must be normal and I have to include some extra configuration in muy server Apache, Nginx, etc?

[2017-05-29 16:22] michael-ciniawsky commented on #58
Can someone please explain with some code what's the goal here, normally `content-encoding` etc. is configured by the webserver

[2017-05-30 10:30] ivasilov-h4 commented on #56
What's the timeline on this change? Can it be done any sooner?

[2017-05-30 11:54] d3viant0ne commented on #56
@ivasilov-h4 - It will be done this week, limited about of project bandwidth for the org-maintainers once you subtract managing issues / pull requests.

[2017-05-31 11:14] phdog opened #62 "Doesn't hook up my files"
Hello! I'm trying to make build and deployment system for my project.  I want to be able to serve gzipped vendor and custom JS files, and merged and gzipped single CSS file (cause vendor chunk also has some css in it). If I don't merge css with merge-files-webpack-plugin, everything goes well and I see 2 css files in the output, BUT when merging, I see my combined style.css intact(with deleteOrigi

[2017-06-02 10:37] djbingham commented on #58
I think I've hit the same issue as the OP (or very similar).

My goal is to have Nginx serve either a gzipped or uncompressed file for each request, depending on whether the uncompressed size exceeds a threshold. To achieve this, I've setup the Webpack Compression Plugin with a threshold for file size (as per the README example) and configured Nginx to check for a ".gz" extended version of each re

[2017-06-16 09:04] farhan687 commented on #57
No update even after a month?

[2017-06-21 13:49] StasD opened #63 "Compressing files copied by 'copy-webpack-plugin'"
Hello,

This is my setup:
[code]
The problem is that .po files, which are in src/assets/translations, and which are copied by the CopyWebpackPlugin don't get compressed by the CompressionPlugin.
Not sure who's plugin fault it is. :)
Is it possible to get it work as intended?

Thanks!

[2017-06-24 02:38] #52 closed

[2017-06-26 22:11] ciscoo commented on #56
This split out will remedy https://github.com/pierreinglebert/node-zopfli/issues/87.
Seems the project maintainer seems to be absent.

[2017-06-28 00:22] NeaSTDL commented on #30
As just @r3dDoX comments, the same situation happened to me while I was setting up my bundling configuration.

[code]

As can be seen in the extract of my bundle output, only main and vendor files got a gzipped version through compression-webpack-plugin.

Is there a way to tell compression-webpack-plugin to also create this file, or is it not relevant enough?

In that case, I'll have to make some

[2017-06-29 00:26] lucasvinals commented on #57
Hi guys, I've just wrote a simple plugin to connect both plugins.
It just listen for HtmlWebpackPlugin to complete it's build and then change the extensions to files that you specify.

You can download with `yarn add change-extension-plugin` or `npm install change-extension-plugin --save`. Cheers! :smiley:

[2017-06-30 11:12] r3dDoX commented on #30
@NeaSTDL That's exactly the workaround that I've been using since then...

[2017-06-30 21:49] retwedt commented on #57
@lucasvinals Awesome I will check it out!

[2017-07-03 08:14] d3viant0ne commented on #56
FYI - https://github.com/webpack-contrib/zopfli-webpack-plugin

[2017-07-03 08:23] d3viant0ne commented on #48
FYI the compression-webpack-plugin@1.0.0-beta.1 release officially remove the lose dependency. More information can be found in the `changelog.md`

[2017-07-11 00:00] Igor-Vuk opened #66 "Error running install script for optional dependency"
When I install this plugin I keep getting this error in console. It happens when I wanna install or remove any npm package.

[code]

[2017-07-11 00:07] d3viant0ne commented on #66
https://github.com/webpack-contrib/compression-webpack-plugin/releases/tag/v1.0.0-beta.1

[2017-07-11 00:13] Igor-Vuk commented on #66
@d3viant0ne Thanks. Everything is ok now.

[2017-07-11 20:49] #66 closed

[2017-07-29 20:55] nmcclay commented on #63
I am also interested in a solution to this problem, not certain where the issue stems from...

[2017-07-29 21:44] nmcclay commented on #63
I can confirm that [this PR](https://github.com/webpack-contrib/compression-webpack-plugin/pull/45#pullrequestreview-28255166) fixed by issues with the following config:
[code]

[2017-07-31 09:12] evilebottnawi commented on #63
@nmcclay why don't use https://github.com/perchlayer/po-loader or https://github.com/queicherius/i18next-po-loader for this purpose?

[2017-07-31 12:39] nmcclay commented on #63
The problem was the order of execution for generating gzip compression after copying an external SPA app directory in my case, not moving .po files.  The issue just manifests as the same issue, that the CompressorPlugin wasn't running AFTER the copy plugin.  Using this fork effectively fixed that load issue in my case.

[2017-08-02 15:42] nylin93 commented on #47
@changfuguo Not sure if this has been cleared up but for future reference, gzip compression of images is not recommended and can actually result in a [**larger** file size.](https://developer.yahoo.com/performance/rules.html).

[2017-08-10 16:01] guguji5 opened #69 "how to use the compressed gz file"
I run the vue-cli,and build my project.the vendor builded is too large.so i gzip it and turn to several gz files.but i don't know how to use it.its size seem to suitable.

[2017-08-20 11:45] willin commented on #58
mark

[2017-08-28 13:18] keemor commented on #63
@nmcclay Can you say what actually solved you problem?

My config:

[code]
info.json is **not** gzipped in this case

[2017-08-28 14:09] nmcclay commented on #63
Its either that your path configuration is too rigid for CopyWebpackPlugin, or your CompressionPlugin test is incorrect, not sure which.  This configuration works with .json files for me:
[code]

[2017-08-28 14:10] nmcclay commented on #63
dependencies, note that I'm using aforementioned forked version of compression-webpack-plugin:
[code]

[2017-08-29 08:48] keemor commented on #63
This helped and json is gzipped:

`"compression-webpack-plugin": "github:ijpiantanida/compression-webpack-plugin#emit-event",`

but know flag _deleteOriginalAssets_  doesn't work.

Thanks for the tip

[2017-09-03 02:43] #56 closed

[2017-09-03 02:47] michael-ciniawsky commented on #69
If you get `.gz` files the job of this plugin is done 😛 , you need to configure your webserver to serve gzip resources (Encoding, HTTP Headers etc), depending which server you use this info can be found in the docs as it is a standard configuration task.

[2017-09-03 02:47] #69 closed

[2017-09-03 02:49] michael-ciniawsky commented on #62
See #71 `merge-files-webpack-plugin`doesn't currently work, because `compression-webpack-plugin` needs to use a different hook

[2017-09-03 02:55] michael-ciniawsky commented on #59
Closing as the initial question was answered. You won't need to compress (gzip) your files when running with `node` as the target as compression is only useful to minimize file size for **sending data** over the network

[2017-09-03 02:55] #59 closed

[2017-09-03 03:00] michael-ciniawsky commented on #58
This is a config issue with the webserver in use and unrelated to this plugin as it simply compresses the assets for further usage. Please consider the docs of your webserver

[2017-09-03 03:00] #58 closed

[2017-09-03 03:03] michael-ciniawsky commented on #30
#71

[2017-09-04 02:02] michael-ciniawsky opened #74 "[Test] Setup"
☝️ 😛  (at best after #71 has landed)

[2017-09-20 09:52] akashbiz opened #75 ".gz file names not updated in index.html"
Hello, I am using this plugin to gzip my bundle and chunk js so that my application should load faster. I followed integration steps and build generates .gz files too but those .gz file names are not updated in index.html Have anyone face this issue?

Also it adds scripts two times in index.html
1. In Head: as link and type preload
2. In Body: as script and type test/javascript
can you explain me

[2017-09-20 16:59] michael-ciniawsky commented on #75
If you use `html-webpack-plugin`, it's currentlx a bug/known issue (#71), otherwise `compression-webpack-plugin` doesn't alter anything by itself here

[2017-09-21 05:24] akashbiz commented on #75
Yes, I have gone through that issue, but even after changing in index.html manually, in browser its loading entire content within gz file.
My main.bundle.js was 1.1 MB initially without use of compression plugin, after using compression it became 446KB and saved on my local. When I deploy this build on aws s3, it shows 1.1MB transferred for  this gzip file. Also, its not showing the content-encodi

[2017-09-21 07:54] akashbiz commented on #75
Also, If I update .gz extension manually to bundle files still in browser its not showing content-encoding: gzip, Content-Length is also not visible. So is there any other setting required to add these content-encoding as gzip so that browser can download only 286KB and unzip them in browser?

[2017-09-21 21:42] michael-ciniawsky commented on #75
This needs to be configured in your 'webserver' config separately (send with the correct `content-encoding` header). No idea how to enable it for AWS sry :)

[2017-09-22 04:01] OlzhasAlexandrov commented on #75
@akashbiz
You need to set an appropriate header for the objects that are gzip compressed, either using the [CLI](http://docs.aws.amazon.com/cli/latest/reference/s3/index.html) or manually adjusting each object in the web console. Example using CLI:
`$ aws s3 sync . s3://bucketName --content-encoding gzip --metadata-directive REPLACE`

[2017-09-22 04:21] michael-ciniawsky commented on #75
@OlzhasAlexandrov Thx 👍

[2017-09-22 04:21] #75 closed

[2017-09-27 13:18] tkrotoff opened #76 "Update documentation about zopfli"
CompressionPlugin documentation says you can specify `algorithm: 'zopfli'`, I believe this is not true anymore because of this commit that removed zopfli: https://github.com/webpack-contrib/compression-webpack-plugin/commit/328048a93bcb0b18945810144b180a161e271291#diff-1fdf421c05c1140f6d71444ea2b27638L17 (see also #65)
Same for webpack documentation: https://webpack.js.org/plugins/compression-webp

[2017-09-29 19:16] #55 closed

[2017-09-29 19:17] #30 closed

[2017-09-29 19:17] #57 closed

[2017-09-29 19:17] #62 closed

[2017-09-29 19:17] #63 closed

[2017-10-02 22:09] davidbucka commented on #76
same her

[2017-10-02 23:32] michael-ciniawsky commented on #76
This should be updated on the docs page && README https://webpack.js.org/plugins/compression-webpack-plugin/ (#72) now. Feel free to reopen if still regressions :)

[2017-10-02 23:32] #76 closed

[2017-10-17 20:38] pablote commented on #76
I just run into this issue, so is zopfli not supported anymore? or is there another way to use it?

[2017-10-18 00:59] michael-ciniawsky commented on #76
https://github.com/webpack-contrib/zopfli-webpack-plugin

[2017-10-27 09:08] shye0000 opened #79 "[Bug] Dynamic (computed) `import()` chunks aren't compressed"
Hi I have some translation js files which imported dynamically like this in the code:

![selection_243](https://user-images.githubusercontent.com/6414361/32096339-7590b9ae-bb06-11e7-9011-1a892f46b08a.png)

And here is the output of my webpack build with compression-webpack-plugin:

![selection_244](https://user-images.githubusercontent.com/6414361/32096463-cf4cde50-bb06-11e7-9b73-099aea97a9ba.png)

[2017-10-31 10:16] marcoturi commented on #57
@d3viant0ne Now that the PR is merged and published, can you show how to use this plugin with html-webpack-plugin? Thank you

[2017-11-06 16:46] mcmega opened #80 "Help compress JSON files"
Hi guys!
I like your plugin, I often use it!
But there is a problem that json files are not compressed.
Maybe I'm using the plugin incorrectly for such tasks.

Webpack copy all static files (with subdirectory /dl) from **src/static** to **../back-end/data** (prodaction folder).
Plugin compress **main.js** and **style.css** - OK, but JSON no compress (../back-end/data/dl).

**Help me please.**
My w

[2017-11-06 18:41] mcmega commented on #80
Install "compression-webpack-plugin": "^1.0.1", all OK!!!

[2017-11-06 18:41] #80 closed

[2017-11-13 12:46] jamesfiltness commented on #79
+1 - I'm experiencing the same issue: ![compression](https://i.imgur.com/qj0be4P.png)

[2017-11-16 02:28] RoseEnd commented on #62
How can i exclude some files？

[2017-11-16 02:29] RoseEnd opened #81 "[Feature] Add option to exclude assets (`options.exclude`)"

[2017-11-16 08:52] michael-ciniawsky commented on #81
Excluding `assets` isn't supported atm, feel free to open a PR to add it (`options.exclude`)

[2017-11-16 09:10] michael-ciniawsky commented on #79
@jamesfiltness Are you also using computed values in the `import()` path to generate multiple chunks ?

Could someone make a small repo for reproduction please ?

[2017-11-16 09:12] jamesfiltness commented on #79
@michael-ciniawsky Sure I have a repo that demonstrates the issue. The dynamic `import()` that doesn't get compressed is imported here: https://github.com/jamesfiltness/webpack-2-code-splitting/blob/master/src/universal/app.js#L14

[2017-11-30 19:25] chaddjohnson commented on #12
Doesn't work anymore. I get

[code]

[2017-12-04 14:25] evilebottnawi commented on #79
@jamesfiltness @shye0000 don't reproducible, seems you have default `minRatio`, just try increase value (use `minRatio: Number.MAX_SAFE_INTEGER` for compress all assets)

[2017-12-07 23:27] #81 closed

[2017-12-14 04:20] michael-ciniawsky commented on #79
Feel free to reopen if still regressions

[2017-12-14 04:20] #79 closed

[2017-12-18 19:07] mcmega opened #90 "Only 1 file is compressed"
Hi!
At me a problem, only 1 file is compressed, remaining remain as is.
[code]
Webpack copy all json files to a folder and have to compress them all individually, but only 1 file compresses.
Use 1.1.2 version

[2017-12-19 09:51] evilebottnawi commented on #90
@mcmega can you create minimum reproducible test repo?

[2017-12-19 17:19] mcmega commented on #90
I can not. I can show the full file webpack.config.js
[code]

[2017-12-20 09:17] evilebottnawi commented on #90
@mcmega you have `minRatio`, maybe ration original size with compressed above this value?

[2017-12-20 15:21] mcmega commented on #90
Indeed, incorrect settings for this project.
[code]
All is well! Thank you!

[2017-12-20 15:21] #90 closed

[2017-12-23 10:04] BorjaRafols commented on #69
That is not problem @michael-ciniawsky.

However in my case I'm upoading .gz file to cloudfront, so I can not add a middleware on my webserver, instead I need wepack to request the .gz url of the assets instead of the normal one.

[2017-12-25 17:27] gauravdewan007 opened #92 "Brotli support"
Goal of this plugin is to Prepare compressed versions of assets to serve them with Content-Encoding. Currently it supports gzip but it can be expanded to support brotli compression (and maybe combine zopfli - which is there elsewhere in this git org).
Brotli is supported by all modern browsers now. This plugin could provide defaul option to use brotli with fallback to gzip.

[2017-12-26 08:43] evilebottnawi commented on #92
@gauravdewan007 PR welcome :+1:

[2018-01-13 16:24] JustFly1984 commented on #14
Thanx! saved my night)

[2018-01-15 08:57] nekman opened #93 "net::ERR_CONTENT_DECODING_FAILED after updating from v1.0.1 to v1.1.3"
Serving files from AWS S3 via Cloudfront.
Everything works as expected with version 1.0.1 with the following configuration:

[code]

When I run the same configuration with the latest version (1.1.3) I got a blank page saying: "net::ERR_CONTENT_DECODING_FAILED"

Using webpack version: 3.10.0

[2018-01-15 09:27] evilebottnawi commented on #93
@nekman can you create minimum reproducible test repo?

[2018-01-17 02:23] legu2009 opened #94 "Options [include, exclude] not work"
this.options is not  merge options， ModuleFilenameHelpers.matchObject is not get [include, exclude] Options

[2018-01-17 09:17] evilebottnawi commented on #94
@legu2009 Can you show your config? Should be works good

[2018-01-19 13:37] robcresswell commented on #92
There is already a [brotli plugin](https://github.com/mynameiswhm/brotli-webpack-plugin) - perhaps we could use the code from there?

In terms of format I'd suggest defaulting to gzip and adding a config flag to upgrade to brotli, for compatibility reasons. Otherwise people using the compression plugin with older browsers would see their current workflow break.

[2018-01-19 13:38] robcresswell commented on #92
This PR from 2016 is also relevant: https://github.com/webpack-contrib/compression-webpack-plugin/pull/31

[2018-01-19 14:00] evilebottnawi commented on #92
@robcresswell i think it is out of scope this plugin, better create other plugin for this purpose.
@michael-ciniawsky thank do you think?

[2018-01-19 15:34] robcresswell commented on #92
It sounds a lot like the other repo is basically a clone of this one with a different compression lib, judging from the config and README.

[2018-01-19 15:39] evilebottnawi commented on #92
@robcresswell we can add option `package` (need better name) and use here https://github.com/webpack-contrib/compression-webpack-plugin/blob/master/src/index.js#L44 to load from need package, let's wait what says @michael-ciniawsky

[2018-01-19 16:00] mynameiswhm commented on #92
@evilebottnawi oh whait, there _is_ [another plugin for this purpose](https://github.com/mynameiswhm/brotli-webpack-plugin) already which is being discussed in this thread :)

@robcresswell the reason for not stuffing every single compression algorithm into one plugin is to not download/compile a lot of unnecessary compression dependencies if you only need gzip.
The only real problem that plugin f

[2018-01-19 16:23] robcresswell commented on #92
Yeah, that makes sense I suppose. Just seems a shame to maintain two very similar plugins separately.

[2018-01-29 15:11] #94 closed

[2018-01-29 18:30] appellation opened #96 "Latest release is empty"
I just installed v1.1.4 from npm, but got an error `cannot find module 'compression-webpack-plugin'`.  After some investigation, I found that the `node_modules` folder for the plugin was empty except for some root files.  This seems to be an issue with the module not being properly built before release?

![image](https://user-images.githubusercontent.com/8494131/35527238-eb477f08-04de-11e8-87ce-63

[2018-01-29 19:15] kflorence commented on #96
![ship it](http://cultofthepartyparrot.com/parrots/shipitparrot.gif)

[2018-01-29 19:39] michael-ciniawsky commented on #96
Yeah there is something wrong. Investigating why...

[2018-01-29 19:40] madasu commented on #96
@michael-ciniawsky, this breaks our build pipe line... Fix is much appreciated...

[2018-01-29 20:04] madasu commented on #96
@michael-ciniawsky, "compression-webpack-plugin": "1.1.3" throws error:
npm ERR! enoent ENOENT: Cannot cd into '\node_modules\.staging\compression-webpack-plugin-ddc68184'
npm ERR! enoent This is related to npm not being able to find a file.

[2018-01-29 20:12] chabanov commented on #96
Cannot find module 'compression-webpack-plugin'

[2018-01-29 20:16] chabanov commented on #96
compression-webpack-plugin@^1.1.3:
  version "1.1.5"
  resolved "https://registry.yarnpkg.com/compression-webpack-plugin/-/compression-webpack-plugin-1.1.5.tgz#b680e20a5abb20fe7fa12c6cb5e597cd4ba3a995"

[2018-01-29 20:45] yoojinl commented on #96
I see that new version (v1.1.5) was released after this, but it seems like it's still causing the same issue.

[2018-01-29 20:46] michael-ciniawsky commented on #96
Fix coming in a few minutes

[2018-01-29 21:03] michael-ciniawsky commented on #96
[`v1.1.6`](https://github.com/webpack-contrib/compression-webpack-plugin/releases/tag/v1.1.6)

Sry guys it was clearly my mistake during release 😅

[2018-01-29 21:03] #96 closed

[2018-01-29 21:04] yoojinl commented on #96
Thank you! 👍

[2018-01-29 21:07] teeeg commented on #96
Thanks!

[2018-01-29 22:02] kflorence commented on #96
Appreciate the quick turnaround time!

[2018-02-08 15:50] nekman commented on #93
Late reply.

Sorry @evilebottnawi , but I can't do that (right now).
I updated to v1.1.6 but the problems still occurs.

It looks like I don't get a gzipped file, when running v1.1.6. I can open/view the bundle in VS Code after compression:
![1 1 6](https://user-images.githubusercontent.com/568019/35982312-c9dd621a-0cef-11e8-8fe9-786bf4e4201e.png)

But with v1.0.1 I get:
![1 0 1](https://user-imag

[2018-02-08 15:53] evilebottnawi commented on #93
@nekman very strange, can you provide what files you gzip (add `console.log(file)` here https://github.com/webpack-contrib/compression-webpack-plugin/blob/master/src/index.js#L77) and put here file what occurs error

[2018-02-08 19:43] nekman commented on #93
Both versions logs:
[code]
<img width="760" alt="log" src="https://user-images.githubusercontent.com/568019/35994268-30a7828a-0d10-11e8-8667-318aa16b0e51.png">

I think this is a config error. Changed the config above to:

[code]
And this compressed the file with version 1.1.6. However, it did not work after deployment. This is how it looked in the browser:

<img width="228" alt="strange-encoding"

[2018-02-08 19:54] evilebottnawi commented on #93
@nekman seems problem with html right?

[2018-02-08 19:59] nekman commented on #93
It looks like that. Will try to remove html by only using: `test: /\.js$|\.css$/, `

[2018-02-08 20:04] nekman commented on #93
@evilebottnawi the following configuration worked successfully on v1.1.6:

[code]

Thanks!

[2018-02-08 20:04] evilebottnawi commented on #93
@nekman let's investigate why html was broken :+1:

[2018-02-08 20:05] evilebottnawi commented on #93
@nekman do you have `index.html.gz` ? Can you put this here?

[2018-02-08 20:12] nekman commented on #93
Wait a moment, I don't think html is broken. I think its my deployment script that was broken.
When uploading gzipped files to AWS S3, you need to tell S3 what files that are gzipped.

This is what I do:
[code]
I must do the same with the html file as well. Will try to do that!

[2018-02-20 20:36] michael-ciniawsky commented on #93
The `Content-Encoding` header just be configured to serve `.gz` files explicitly on most hosting services, so browsers are able to decode it

[2018-02-20 20:37] #93 closed

[2018-02-20 20:42] michael-ciniawsky commented on #92
Since most alternative compression algorithms require a native addon, `compression-webpack-plugin` will only support what is being provided by `node` (GZIP) itself to avoid possible cross platform issues. Therefore support for alternative algorithms in `compression-webpack-plugin` is not planned atm.

[2018-02-20 20:42] #92 closed

[2018-02-22 12:29] ashwinirajput commented on #63
I have also same problem it working fine in chrome Chrome/63.0.3239.132 Safari/537.36

[2018-02-23 01:21] RinkAttendant6 opened #99 "minRatio option documentation misleading"
My initial problem was that my CSS files were only compressed using Brotli but not Gzip. After trying different things for a while, I noticed this option:

I would assume setting it to `0` would tell the plugin to compress no matter what. From Wikipedia:

https://en.wikipedia.org/wiki/Data_compression_ratio

For example, an uncompressed CSS file of 193 KiB compressed to 170 KiB means a compression

[2018-02-23 12:02] evilebottnawi commented on #99
@RinkAttendant6 PR welcome

[2018-02-26 06:26] RinkAttendant6 commented on #99
@evilebottnawi I briefly looked at the code and it looks like the value is being compared with the *inverse* of the compression ratio (compressed size / uncompressed size). So if I want to only compress if the ratio is greater than 5x, the value I'm supposed to use is 1/5 or 0.2.

I'm not exactly sure how to describe that.

[2018-03-02 09:38] kodemi opened #102 "TypeError: this is not a typed array"
Hi!
Old node.js (v4.4.5 in my case) doesn't support new way of creating Buffer (Buffer.from). This error is introduced by commit: https://github.com/webpack-contrib/compression-webpack-plugin/commit/3c77d4315ce7e3b48f639a8e54a086326201a33e#diff-1fdf421c05c1140f6d71444ea2b27638L80

[2018-03-02 09:49] evilebottnawi commented on #102
@kodemi minimum required nodejs version `4.8`

[2018-03-05 05:37] kodemi commented on #102
oh, thanks! I close issue

[2018-04-05 12:03] alesvaupotic opened #104 "Existing compressed file left untouched if Treshold is not met"
[code]

Example config:

[code]

Now, if my `style.css` turns out to be 20Kb, it gets compressed to `style.css.gz`. After deleting most of my css and leaving file at 1Kb, compression doesn't run and `style.css.gz` is left untouched from previous run, serving the wrong content to the user.

Expected behaviour would be to delete the old .gz as the plugin is the "maintainer" of the file. It created i

[2018-04-05 12:30] evilebottnawi commented on #104
@alesvaupotic you don't delete `build/dist` directory?

[2018-04-05 13:05] alesvaupotic commented on #104
@evilebottnawi No, never. I build directy to the public folder of a Laravel app and other stuff might live there which comes from others sources, so deleting it is not an option. I see it could work with some additional file juggling, sure. But as said before, if a module creates a file, it should also be responsible for taking it down if not needed anymore. It is simply a good practice.

[2018-04-05 13:26] evilebottnawi commented on #104
@alesvaupotic you should remove *.gz files before every build, it is good practice :+1:

[2018-04-05 14:26] evilebottnawi commented on #104
@alesvaupotic We try to keep the plugins as simple as possible. New options = new problems. We have other plugins and solution to remove files before build, better use their. Also we have `cache` option and you do not have to worry about performance.

[2018-04-05 14:29] alesvaupotic commented on #104
Understood.

[2018-04-05 14:29] #104 closed

[2018-04-20 18:30] tommymcglynn commented on #20
Adding this to my html <head> resolved the issue for me.

    <meta http-equiv="content-type" content="text/html; charset=utf-8">

[2018-06-04 23:44] bawjensen opened #105 "Unable to load gzipped version of import()ed assets"
I am working on a project at @thumbtack that gzips assets that internally use the ES6 dynamic `import()`.

However, I cannot find a configuration of webpack/this specific plugin that allows me to load the dynamically generated assets as their gzipped version. If I specify the webpack `output.filename` field as `[name].js.gz` (which feels a bit like a hack), then I have to specify `asset: '[path][q

[2018-06-05 11:13] evilebottnawi commented on #105
@bawjensen thanks for issue, need fix `test` options like here https://github.com/webpack-contrib/uglifyjs-webpack-plugin/blob/master/src/index.js#L25

[2018-06-05 12:04] evilebottnawi commented on #105
But looks changing test it is breaking change :disappointed:

[2018-06-05 16:29] bawjensen commented on #105
oh, awesome, thanks @evilebottnawi. For some reason I was trying to find that `test` regex in webpack itself.

If we added a feature to `uglifyjs-webpack-plugin` to allow overriding of that `test` regex, would that be a breaking change?

[2018-06-05 16:33] evilebottnawi commented on #105
@bawjensen we should do this in next major, we already support `test` here, but not it is `.` (i.e. any files), if we change this, it can breaking build for somebody

[2018-06-05 16:42] bawjensen commented on #105
Ah, I misread, yeah. Sounds good, thanks :)

[2018-06-05 17:40] bawjensen commented on #105
From testing with my own setup, making the test regex `.*` didn't work because then it attempted to minify some CSS in our build. So the test pattern I'm using now is `/\.js(\.gz)?$/` (or, to be consistent with the existing default `test`, it would be `/\.js(\.gz)?(\?.*)?$/`).

Not sure if this is still a breaking change, or perhaps too specific to this scenario of appending `.gz` to a filename.

[2018-06-05 17:46] evilebottnawi commented on #105
@bawjensen you should compress not only `js`, not only `js`, because many web servers (include `nginx`) support `.gz` (for `nginx` you should enable module) for all assets

[2018-06-05 18:02] bawjensen commented on #105
Right we're gzipping all assets, CSS included. The `test` I'm referring to above is the pattern that `uglifyjs-webpack-plugin` uses to determine which assets to minify.

[2018-06-11 04:48] fercho0 commented on #79
### compress all files
[code]

[2018-06-11 04:55] fercho0 commented on #14
### compress all files
![example2](https://user-images.githubusercontent.com/20364582/41213226-762bd276-6d09-11e8-9ca3-d07aa36ae3c2.png)

[code]

[2018-06-17 10:08] urikphytech commented on #57
Hi, I also can't find any documentation on how to make this work with html-webpack-plugin (i.e. have html-webpack-plugin write the path with the correct file extension).

Can anyone here point me in the right direction? I'd be happy to document it.
Thanks!

[2018-06-20 22:44] #74 closed

[2018-07-03 17:19] jfrux commented on #105
Same issue... I think?  After the assets are built, my dynamic imports are pulling the `.js` in browser versus the `.gz`... no option to like... rename the gz file back to its original after the conversion...?

[2018-07-03 17:33] jfrux commented on #105
WHO POSTED THIS… IMPOSTER!
/cry
On Jul 3, 2018, 1:27 PM -0400, Evilebot Tnawi <notifications@github.com>, wrote:

[2018-07-03 17:34] jfrux commented on #105
Sorry, it does... not sure why I posted this.

[2018-07-03 17:35] jfrux commented on #105
Actually, sorry but I'm using S3 static files host and I'm needing to change the filenames back to .js from .gz so I don't need an HTTP server to do that logic.

[2018-07-03 17:36] evilebottnawi commented on #105
@jfrux why? i can't understand you

[2018-07-11 07:53] jairusd opened #106 "Integration into html-webpack-plugin"
Hi, great work on this plugin guys, this isn't a bug report but a question. How do we use html webpack plugin with compression webpack plugin?

https://github.com/jantimon/html-webpack-plugin
https://github.com/jantimon/html-webpack-plugin/issues/1000

Thanks for the response!

[2018-07-11 10:22] evilebottnawi commented on #106
@jairusd just use plugin, do you have problem or error or something doesn't work? Also please use `gitter`, `slack` or `stackoverflow` for question.

[2018-07-11 12:06] jairusd commented on #106
Got it. I'll be closing this issue.

[2018-07-11 12:06] #106 closed

[2018-07-12 12:36] hnqdarktime commented on #40
Try this:
[code]

[2018-07-24 02:09] JanM95 commented on #20
@tommymcglynn worked for me too, thanks for posting!

[2018-08-24 09:45] TheHolyWaffle opened #107 "Feature request: keep original asset but empty content"
Feature request:

New option: emptyOriginalAssets (boolean)

When emptyOriginalAssets is true then it will keep the original asset but makes sure that the content is empty. This is needed for certain webservers that rely on the original asset still being there when falling back from .gz file.

By emptying the original assets we can save some disk space.

[2018-08-28 12:11] evilebottnawi commented on #107
@TheHolyWaffle please describe use case, if `gz` doesn't exists webserver try to get original (it is default behaviour)

[2018-08-28 14:57] TheHolyWaffle commented on #107
My use case is sourcemaps. By compressing them I can save some disk space
when hosting them. But I still need the original files because that's how
they are referenced from the .js files. And not with their .gz variant. As
such, for example tomcat will see the http request to the .map file but it
will automatically redirect it to the .map.gz variant. This will not work
if the original .map file is

[2018-08-29 10:29] #105 closed

[2018-09-01 22:18] rightaway opened #110 "Configure gzip compression level"
Would be nice to have a feature to configure the gzip compression level that is used.

Which compression level is used by default? Should be added to documentation.

[2018-09-04 14:49] evilebottnawi commented on #107
Sorry, it is out of scope this plugin, you can create own plugin for this rare use case.

[2018-09-04 14:49] #107 closed

[2018-09-04 18:59] evilebottnawi commented on #110
Done in https://github.com/webpack-contrib/compression-webpack-plugin/releases/tag/v2.0.0

Look here https://github.com/webpack-contrib/compression-webpack-plugin#compressionoptions

[2018-09-04 18:59] #110 closed

[2018-09-04 18:59] evilebottnawi commented on #99
Done in https://github.com/webpack-contrib/compression-webpack-plugin/releases/tag/v2.0.0

Feel free to feedback.

[2018-09-04 18:59] #99 closed

[2018-09-06 07:02] a-cabinti opened #112 "Exclude Dicrectory"
Hi,

Is there any way to exclude the entire directory from compression using this plug-in in my webpack config?
Thanks for help!

[2018-09-12 19:35] rupamkhaitan commented on #58
You dont need to define in the location
location / {
	gzip_static on;
	rewrite ^/?$ /index.html break;
	root /srv/app;
}

In the main /etc/nginx/nginx.conf

just enable inside

http{

#enable compression of data
  gzip on;

}

And see it will compress the files and send

[2018-10-09 13:46] SergeyShablenko opened #114 "Does not work for chunks with 'special names'"
* Operating System: Ubuntu 18
* Node Version: 10.10
* NPM Version: 6.4.1
* webpack Version: 4.17.1
* webpack-defaults Version: -

### Expected Behavior

Compress all assets

### Actual Behavior

does not work with chunks which names are like './some-path/'
chunks are created by webpack, and they are in separate folder as expected, but no gz files for those special chunks appeared neither in that s

[2018-10-09 14:07] evilebottnawi commented on #114
@SergeyShablenko you should use ` test: /\.js(\?.*)?$/i` or what you need

[2018-10-09 14:10] SergeyShablenko commented on #114
I don`t want to use anything, just gzip all assets and put them near their originals

[2018-10-09 14:14] evilebottnawi commented on #114
@SergeyShablenko try to write `test: /\.*(\?.*)?$/i`

[2018-10-09 14:19] SergeyShablenko commented on #114
Did not work

![selection_010](https://user-images.githubusercontent.com/13334277/46675576-65c39300-cbe7-11e8-825a-b2473fbdbcea.png)

[2018-10-09 14:51] SergeyShablenko commented on #114
https://github.com/SergeyShablenko/test-compression-plugin

[2018-10-09 14:57] #114 closed

[2018-10-16 18:01] Enalmada commented on #36
I am currently using https://www.npmjs.com/package/shrink-ray-current to get br compression on everything.  I like that it returns appropriate dynamic compression for the initial response and then asynchronously recompresses with max compression for subsequent requests.   Still, I found this thread because I would ideally like to br compress all assets with max compression at build time.    I thin

[2018-10-17 06:38] Yangfan2016 opened #115 "Cannot read property 'emit' of undefined"
* Operating System: linux x64
* Node Version: 10.6.0
* NPM Version: 6.1.0
* webpack Version: 3.8.1
* webpack-defaults Version:

### Expected Behavior

### Actual Behavior

### Code

[code]

### How Do We Reproduce?

[2018-10-17 08:42] evilebottnawi commented on #115
@Yangfan2016 latest version require `webpack4`, please update `webpack` version or use `compression-webpack-plugin` version `1.x`

[2018-10-17 08:42] #115 closed

[2018-10-17 11:36] Yangfan2016 commented on #115
Thx

[2018-12-31 09:54] sunnytambi commented on #115
downgraded to compression-webpack-plugin v1.1.12 and had everything working

[2019-01-17 16:00] nicksrandall commented on #36
node 11.7 (should be released any day now) will have native support for brotli compression.

See https://github.com/nodejs/node/pull/25537https://github.com/nodejs/node/pull/25537

[2019-01-21 09:35] chestozo opened #116 "No error is thrown when file is not generated due to minRatio check"
Currently if the ratio of generated file size compared to original file size is greater than `options.minRatio` - compressed file is not being generated and no error is thrown.

Here is the check
[code]
https://github.com/webpack-contrib/compression-webpack-plugin/blob/master/src/index.js#L138

### Expected Behavior / Situation
Error is thrown.

### Actual Behavior / Situation
webpack build finish

[2019-01-22 08:20] evilebottnawi commented on #116
It is expected behavior and no errors should be generated. You can use `minRatio` to compress all assets. Also you can use `test`/`include`/`exclude` option to filter files.

[2019-01-22 08:20] #116 closed

[2019-02-15 20:57] gilesbutler opened #117 "Use original filename without .gz extension"
* Operating System:
OSX Mojave 10.14

* Node Version:
v8.11.4

* NPM Version:
6.8.0

* webpack Version:
4.17.1

* webpack-defaults Version:
Unknown

### Expected Behavior

To be able to use `[file]` for the `filename` prop and it return the original filename without the `.gz` extension

### Actual Behavior

There is no output

### Code

[code]

As background we're using S3 to host static assets an

[2019-02-18 09:50] evilebottnawi commented on #117
You want to generate assets without `gz` extension right? What is use case?

[2019-02-18 23:53] gilesbutler commented on #117
Hey @evilebottnawi

Yep that's correct.

S3 requires you to gzip your assets then remove the extension so `index.js.gz` should become `index.js`

[2019-02-19 09:51] evilebottnawi commented on #117
@gilesbutler Can you provide link on this strange behavior? We can implement this, but this is very misleading and strange

[2019-02-19 22:41] gilesbutler commented on #117
@evilebottnawi that's what I thought too and then came across this... (https://stackoverflow.com/questions/8080824/how-to-serve-gzipped-assets-from-amazon-s3)[https://stackoverflow.com/questions/8080824/how-to-serve-gzipped-assets-from-amazon-s3]

In doing a bit more research though I've found that CloudFront can compress the assets for me rather than having to use this plugin so I'll go down that

[2019-02-25 05:32] nerdmax commented on #106
Just in case some one else find this issue later.

If you are using `html-webpack-plugin` along side `compression-webpack-plugin` and you want the `html-webpack-plugin` to reference the .gz file automatically.

You can try this plugin: [html-webpack-change-assets-extension-plugin](https://github.com/nerdmax/html-webpack-change-assets-extension-plugin).

Eg:
[code]

[2019-02-25 05:32] nerdmax commented on #75
Just in case some one else find this issue later.

If you are using `html-webpack-plugin` along side `compression-webpack-plugin` and you want the `html-webpack-plugin` to reference the .gz file automatically.

You can try this plugin: [html-webpack-change-assets-extension-plugin](https://github.com/nerdmax/html-webpack-change-assets-extension-plugin).

Eg:
[code]

[2019-02-25 05:33] nerdmax commented on #57
Just in case some one else find this issue later.

If you are using `html-webpack-plugin` along side `compression-webpack-plugin` and you want the `html-webpack-plugin` to reference the .gz file automatically.

You can try this plugin: [html-webpack-change-assets-extension-plugin](https://github.com/nerdmax/html-webpack-change-assets-extension-plugin).

Eg:
[code]

[2019-03-04 12:54] emilbader opened #118 "Brotli support"
* Operating System: macOS Mojave (10.14.3)
* Node Version: 10.15.2
* NPM Version: 6.4.1
* webpack Version: 4.28.4
* webpack-defaults Version: N/A

### Feature Proposal
Node 11.7.0 has [native support](https://nodejs.org/api/zlib.html#zlib_zlib_createbrotlicompress_options) for Brotli compression in its `zlib` module.

### Feature Use Case
- Smaller files compared to Gzip:
    - ![image](https://us

[2019-03-04 13:10] evilebottnawi commented on #118
Feel free to send a PR

[2019-03-09 15:48] khalwat commented on #118
I'm happy to report that this already "just works" ->

[code]

output:

[code]

[2019-03-11 09:37] evilebottnawi commented on #118
@khalwat can you send a PR to `Example` section? Thanks!

[2019-03-12 14:27] khalwat commented on #118
@evilebottnawi done -> https://github.com/webpack-contrib/compression-webpack-plugin/pull/119

[2019-03-12 15:02] #118 closed

[2019-05-07 08:48] kid1412621 opened #120 "Why I set deleteOriginalAssets : true, and get blank page?"
set `deleteOriginalAssets: true`, and I checked it does delete origin asset files. However I get a blank page.
What does this config do exactly?
b.t.w I using vue cli3

[2019-05-07 09:53] evilebottnawi commented on #120
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

I don't know because you don't provide neither configuration nor reproducible test repo, i can't help without these s

[2019-05-07 09:53] #120 closed

[2019-05-07 13:17] kid1412621 commented on #120
Sorry, didn't see the description of the last type.

[2019-05-14 04:09] manoj-makkuboy commented on #28
node version v12.2.0 fixes this

[2019-05-22 00:05] wood1986 commented on #117
Is it possible to reopen this and request this feature?

My use case is akamai support brotli compression from origin. See https://developer.akamai.com/blog/2018/04/16/brotli-from-origin/. if I do not use this and ask akamai to compress for us automatically, we need to update the plan and it takes time.

[2019-05-23 00:00] andrerivas commented on #117
Can we open this? This is needed for S3.

[2019-06-10 04:15] jarkin13 opened #125 "Error with webpack cli"
- Operating System: macOS Mojave
- Node Version: v11.10.0
- NPM Version: 6.7.0
- webpack Version: 4.30.0
- webpack cli version: 3.3.3"
- compression-webpack-plugin Version: 3

### Expected Behavior
When adding `const CompressionPlugin = require('compression-webpack-plugin');` --> this should not break my build

When adding
[code]

this should also not break my build

### Actual Behavior
Both break

[2019-06-10 10:12] evilebottnawi commented on #125
Something wrong with setup, looks you have very old version of webpack. Can you create reproducible test repo?

[2019-06-10 20:37] jarkin13 commented on #125
@evilebottnawi I just upgraded my webpack to 4.33.0 — I don't believe it was that outdated(from 4.3) and I'm still running into the same problem.

[2019-06-11 10:15] evilebottnawi commented on #125
@jarkin13 maybe you have globally installed webpack, can you create minimum reproducible test repo?

[2019-06-11 12:15] HoneyMiri commented on #117
Need this as well for S3.. Thank you 🙏

[2019-06-11 12:20] evilebottnawi commented on #117
okay, open as feature, PR welcome

[2019-06-19 22:18] BenHSmith13 commented on #117
I needed to remove the `deleteOriginalAssets: true` line and use '[path]' for this to work.
I am using this to overwrite the original .js file with a gzipped file with the same name.
[code]

[2019-06-21 18:03] evilebottnawi commented on #117
I.e. original file now is gzipped?

[2019-07-16 11:46] crhistianramirez opened #127 "Allow multiple file outputs one for each algorithm"
- Operating System: Windows / Mac / Linux
- Node Version: 8.9.0
- NPM Version: 6.9.0
- webpack Version: 4.3.0
- compression-webpack-plugin Version: 3.0.0

### Feature Proposal
Allow plugin to generate multiple file outputs for multiple algorithms. Maybe algorithms can take an optional array format to indicate more than one file (per algorithm) should be generated.

### Feature Use Case
Since this

[2019-07-16 12:05] evilebottnawi commented on #127
PR welcome

[2019-07-16 12:06] evilebottnawi commented on #125
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2019-07-16 12:06] #125 closed

[2019-07-17 03:37] crhistianramirez commented on #127
Huh... just created two instances of the plugin and that seemed to do the trick. Maybe I could just create a PR to document that?

[code]

[2019-07-17 09:50] evilebottnawi commented on #127
@crhistianramirez it is workaround, maybe it is good idea support `algorithm` as array for better DX

[2019-08-14 08:18] ahmad2smile commented on #118
Any way to support with `npm install brotli` for use case when we can't upgrade node version even in build system. I'm on node:8-jessie

[2019-08-21 17:47] hecktarzuli opened #130 "minRatio = 1 verbiage is wrong"
Documentation Is:
- [ ] Missing
- [ ] Needed
- [ ] Confusing
- [x] Wrong

### Please Explain in Detail...

Currently documentation says if you set minRatio to 1, everything will be compressed. This actually isn't true. It still won't compress files that are LARGER than the original.

### Your Proposal for Changes

Update verbiage to explain what value is needed to truly compress all files.

[2019-09-18 05:16] tw00 commented on #117
Same here. Google Cloud has the same requirement. Files need to be uploaded as gzipped. For Clients that don't accept gzip the content is automatically transcoded. See: [https://cloud.google.com/storage/docs/transcoding](https://cloud.google.com/storage/docs/transcoding)

[2019-09-24 02:44] dgeibi commented on #117
just found a workaround

[code]

[2019-09-25 08:15] akosyakov opened #133 "cache does not work in watch mode"
We are using code splitting in dev (watch) mode in order to avoid redownloading everything on page refresh but only changed bundles. But compression plugin keeps generating new compressed artifacts even for not changed bundles. I've tried to enable caching and it did not have any effect.

[2019-09-25 08:49] akosyakov commented on #133
I see that record is found in the cache, but a new file is still emitted. So Express.js treats as a new resource.

[2019-09-25 11:10] evilebottnawi commented on #133
Please create minimum reproducible test repo?

[2019-09-26 06:10] akosyakov commented on #133
@evilebottnawi Here you go: https://github.com/akosyakov/compression-webpack-with-watch

In order to reproduce:
- run `yarn` in order to install dependencies and start watching
- look at timestamps in lib folder for both bundles and gzipped archives
- wait sometime
- change client.js
- look at timestamps again, bundle.js is not changed, but gzipped is changed

Here is a Gitpod snapshot to reproduc

[2019-09-30 00:02] akosyakov commented on #133
@evilebottnawi does it look like an issue? Are you opened to a PR? What would be the proper solution? Skip emitting a new file if an original asset timestamp did not change?

[2019-09-30 11:05] evilebottnawi commented on #133
A lot of issues, you can debug it and send a PR, sorry

[2019-10-21 19:07] anujm249 commented on #28
Also working for v10.16.0

[2019-10-29 20:15] guanzo commented on #79
None of these options are working for me. Dynamic imports aren't being compressed.

[2019-11-04 15:46] neoteknic opened #135 "Laravel mix configuration example in doc ?"
Documentation Is:

- [x] Missing
- [x] Needed
- [x] Confusing
- [ ] Not Sure?

Compression plugin isn't working with laravel mix, at the end of webpack.mix.js I have :

[code]

I try to add many config option, (  include: 'public/*', ...), no success, I have only one mix.js.br file generated in public/ but I dont know why and where is this file ?
I want to compress generated files in public/js and

[2019-11-05 10:54] evilebottnawi commented on #135
Please send an example in laravel mix repo, we don't add examples for external boilerplate/tools

[2019-11-05 10:54] #135 closed

[2019-12-06 07:25] wityan opened #137 "Outdated dependencies"
When I will use this plugin I got some issues with outdated dependencies.

[2019-12-06 07:38] #137 closed

[2019-12-06 15:15] Bertg opened #138 "Update serialize-javascript dependancy due to CVE-2019-16769"
- Operating System: MacOS Catalina
- Node Version: v11.14.0
- NPM Version: 6.9.0
- webpack Version: 4.41.2
- compression-webpack-plugin Version: 3.0.0

### Expected Behavior / Situation

Dependancies should not lock you into versions with a known security issue.

### Actual Behavior / Situation

The dependancies of this project include ```serialize-javascript@^1.4.0``` which has a known issue: htt

[2019-12-09 09:09] Bertg commented on #138
There is an automate PR from dependabot that tries to bump this, see #136

However there are some failing tests. I don't really have the skills/time to check this? Maybe some of you watching this issue do?

[2019-12-09 15:28] evilebottnawi commented on #130
Feel free to send a fix to docs

[2019-12-09 16:17] #138 closed

[2019-12-09 16:21] evilebottnawi commented on #127
After investigate i found what using multiple instances is better then using array of `algorithm`s because each `algorithm` potential can have difference options and it is increase plugin configurations and logic in code, just put this example in docs

[2019-12-09 16:45] #127 closed

[2019-12-10 15:57] hecktarzuli commented on #130
https://github.com/webpack-contrib/compression-webpack-plugin/pull/141

[2019-12-20 10:53] mseele opened #142 "*.html files are not compressed when using with nuxt generate"
- Operating System: MacOS X 10.15.2
- Node Version: 13.5.0
- NPM Version: 6.13.4
- webpack Version: 4.41.4
- compression-webpack-plugin Version: 3.0.1

### Expected Behavior

*.html files should be compressed in nuxt generate process with compression-webpack-plugin

### Actual Behavior

No compressed version of the *.html files is generated when running "nuxt generate". Only *.js, *.css & *.svg fi

[2019-12-20 11:24] evilebottnawi commented on #142
Please open issue in nuxt

[2019-12-20 11:26] evilebottnawi commented on #142
Also try to use `minRatio: Number.MAX_SAFE_INTEGER`, maybe files have more size after gzip

[2019-12-20 12:17] mseele commented on #142
I've tried with `minRatio: Number.MAX_SAFE_INTEGER`, same result. No html file compression

[2019-12-20 12:33] evilebottnawi commented on #142
As i said early please open issue in nuxt, we use default webpack API, maybe nuxt modify configuration  or do something other what block compress html

[2020-01-03 13:52] #117 closed

[2020-01-03 15:42] evilebottnawi commented on #130
Thanks!

[2020-01-03 15:42] #130 closed

[2020-01-03 15:44] evilebottnawi commented on #142
Feel free to feedback or open a new issue if you found what problem in the plugin

[2020-01-03 15:44] #142 closed

[2020-01-21 17:36] borodadada opened #149 "deleteOriginalAssets"
Hello, if i use
[code]
my site project send 404 error, this options work on client side?
[code]
Image with result build
https://i.ibb.co/myrVyWL/Snipaste-2020-01-21-20-34-48.png
This is norm? Why initial = js, not gz ?

[2020-01-22 08:42] evilebottnawi commented on #149
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2020-01-22 08:42] #149 closed

[2020-01-22 14:07] Jamesking56 opened #150 "`TypeError: util.promisify is not a function`"
- Operating System: Ubuntu 18.04 LTS
- Node Version: `v6.14.1`
- NPM Version: `v6.13.6`
- webpack Version: `4.41.5` (usage via Symfony Encore)
- compression-webpack-plugin Version: `3.1.0`

### Expected Behavior

Running `encore production` builds successfully.

### Actual Behavior

`encore production` fails with:

`TypeError: util.promisify is not a function`

### Code

Usage is with Symfony enco

[2020-01-22 14:27] evilebottnawi commented on #150
We don't support `node@6` https://github.com/webpack-contrib/compression-webpack-plugin/blob/master/package.json#L16, please update node version

[2020-01-22 14:28] evilebottnawi commented on #150
We need fix the README file

[2020-01-22 15:22] #150 closed

[2020-01-30 08:56] profy12 opened #152 "Replace threshold value of 10240 with 1280"
Documentation Is:

- [ ] Missing
- [ ] Needed
- [x] Confusing
- [ ] Not Sure?

### Please Explain in Detail...

In documentation like in https://github.com/webpack-contrib/compression-webpack-plugin#using-brotli you are using a threshold value of 10240 bytes, but default MTU is 1280 bytes so it should be better to use 1280. 10240 is a correct value if bit, not with bytes.

### Your Proposal for Ch

[2020-01-30 10:02] evilebottnawi commented on #152
Feel free to send a PR

[2020-02-10 09:54] CyberCookie commented on #127
I wouldn't close this issue since having one instance per one algorithm have it's drawback:
If i want to use more than one algorithm and use option "deleteOriginalAssets: true" (no matter which instance i set this option in) - as a result i will get only one compressed format instead of all i specified

[2020-02-25 18:04] matthewdouglas opened #154 "Incorrect Brotli example"
Documentation Is:

- [ ] Missing
- [x] Needed
- [x] Confusing
- [ ] Not Sure?

### Please Explain in Detail...
The Brotli examples in the README do not correctly set the `compressionOptions`. The `BROTLI_PARAM_QUALITY` parameter is the equivalent to zlib's `level` option in terms of functionality, but not naming.

### Your Proposal for Changes
1. Revise the examples to set the Brotli parameters co

[2020-02-26 09:30] evilebottnawi commented on #154
Feel free to send a PR with fixes

[2020-04-12 11:01] ernestostifano commented on #133
For anyone getting here. A temporary solution, if writing a plugin is a possibility, is to collect and update effectively emitted assets paths on 'compiler.hooks.assetEmitted' hook and passing them to "compression-webpack-plugin" `exclude` option on each watch run. I'm currently doing that until this issue is fixed.

For additional information, please see [this comment](https://github.com/webpack-

[2020-04-27 10:42] #154 closed

[2020-04-29 13:13] evilebottnawi commented on #133
There are several solution:
- Implement on webpack side new API `isAssetEmitted` and skip files which already exists
- Cache our compressed assets in memory between compilations, now the `cache` option only for filesystem cache (sounds like hacky)
- migrate on the `assetEmitted` hook (it can break assets manifest plugins)
- migrate on the `optimizeAssets` hook (ideally for webpack@6), the main pro

[2020-04-29 13:14] evilebottnawi commented on #133
I need a little discussion with @sokra about it, in the near future I will find a solution, sorry for delay

[2020-05-07 13:58] #133 closed

[2020-05-07 14:17] evilebottnawi commented on #152
After reading deep about MTU, I found `1280` is not default value, it depends on other things https://en.wikipedia.org/wiki/Maximum_transmission_unit, because it is just an example I want to keep it as is, anyway thanks for the issue and the PR, sorry

[2020-05-07 14:17] #152 closed

[2020-05-13 08:58] charliematters opened #165 "Minimum Node version is incorrect (in practice)"
Documentation Is:

- [ ] Missing
- [ ] Needed
- [x] Confusing
- [ ] Not Sure?

### Please Explain in Detail...
We're currently on Node 10.15 (for no particular reason), and it appears that I could upgrade the plugin. However...

CHANGELOG.md says:

yarn says:

### Your Proposal for Changes
Update the node version so that it is the minimum of all dependencies

[2020-05-13 10:16] evilebottnawi commented on #165
Duplicate https://github.com/npm/cacache/issues/37

[2020-05-13 10:16] #165 closed

[2020-05-26 06:36] TobyPalmer opened #166 "Wrong node version requirement in Changelog"
Documentation Is:

- [x] Missing
- [ ] Needed
- [x] Confusing
- [ ] Not Sure?

### Please Explain in Detail...
Hi!
The changelog for verion 4.0.0 is saying that minimum required node version is 10.13 but is actually 10.17.

This is because of:
The dependency cacache is set to `^15.0.3` https://github.com/webpack-contrib/compression-webpack-plugin/blob/master/package.json#L44

And `cacache 15.0.3`

[2020-05-26 10:11] evilebottnawi commented on #166
Problem on `cacache` side https://github.com/npm/cacache/issues/37, we can't fix it on our side, sorry

[2020-05-26 10:11] #166 closed

[2020-05-26 10:11] evilebottnawi commented on #166
npm team ignore my issue, they like to do that

[2020-05-28 11:57] isikhi opened #167 "It does not compress files that are 0 kb in size."
- Operating System: Linux
- Node Version: 10.16
- NPM Version: 6.x
- webpack Version: 4.16.5
- compression-webpack-plugin Version: 3.1.0

### Expected Behavior

I was expecting it to compress all the files. Even they size 0.
I use optimized-css-assets-webpack-plugin for cleaning duplicated css. And as a result some files can output 0kb. But webpack compression plugin wont include these files in to

[2020-05-28 11:59] evilebottnawi commented on #167
Yep, bug, feel free to send a PR

[2020-06-08 09:11] isikhi commented on #167
@evilebottnawi I will take a glance next weekend.

[2020-07-13 01:00] funder7 opened #168 "deleteOriginalAssets - production build not working with it enabled"
Documentation Is:

- [ ] Missing
- [x] Needed
- [ ] Confusing
- [ ] Not Sure?

### Please Explain in Detail...
I've found the option "deleteOriginalAssets", after enabling it my production build was not working. I'm a bit confused, I saw the content encoded with gzip, so I thought that original assets were not needed to make the application work and enabled that option.

In fact when the build was

[2020-07-13 10:48] evilebottnawi commented on #168
@funder7

You need setup your server to serve gzip files, I can say how, because I don't know your server.

You don't provide enough information what do you want achieve and what means "production build not working with it enabled", sorry I can help, anyway feel free to feedback

[2020-07-13 10:48] #168 closed

[2020-07-14 11:33] funder7 commented on #168
Hi,
I've opened this issue because I thought having more information in the docs, regarding this topic would be a good idea .

I'm using Apache to serve the application, actually I don't have any configuration in my htaccess file, and here's why:

![immagine](https://user-images.githubusercontent.com/12503478/87420445-93681800-c5d5-11ea-944f-b78525696e54.png)

This is the response I'm getting from

[2020-07-14 11:41] evilebottnawi commented on #168
I think th best place for this is stackoverflow, also there are a lot of articles hot to setup this, sorry configurations of servers out of our scope

[2020-07-14 13:30] funder7 commented on #168
![immagine](https://user-images.githubusercontent.com/12503478/87431484-fca45700-c5e6-11ea-8c93-b42f4c447e78.png)

So what's this button for?

[2020-07-14 14:47] evilebottnawi commented on #168
For documentation of the plugin, not the server configuration

[2020-07-15 14:38] willstott101 opened #170 "In WebPack4 (at least) cache algorithm isn't considered in cache key."
- Operating System: Linux
- Node Version: v13.12.0
- NPM Version: 6.14.5
- webpack Version: 4.43.0
- compression-webpack-plugin Version: 4.0.0

### Expected Behavior
Changing `algorithm` option changes the algorithm used to compress the output file.

### Actual Behavior
Output file is from the cache, and compressed using brotli (the first algorithm I had used for the file).

### How Do We Reproduc

[2020-07-15 14:38] willstott101 commented on #170
compression-webpack-plugin@4.0.0
webpack@4.25.1

[2020-07-15 15:24] evilebottnawi commented on #170
Sorry, I don't understand you and you ignore the issue template, please fix it and I will reopen issue.

We invalidate cache when you change algorithm, here - https://github.com/webpack-contrib/compression-webpack-plugin/blob/master/src/index.js#L148

[2020-07-15 15:34] willstott101 commented on #170
[code]

[2020-07-15 16:01] evilebottnawi commented on #170
Oh, yep, let's fix it

[2020-07-16 08:22] funder7 commented on #168
Exactly: I'm pointing out a situation here, where you can think that compression is active, by looking at response headers, while it's not, and the only way to notice is to enable `deleteOriginalAssets`, otherwise you will never find out that not compressed assets are being served.
Why not add two lines of explanation on what `deleteOriginalAssets` its for, and how to configure webpack correctly?

[2020-07-16 11:48] evilebottnawi commented on #168
What is not clear here? And how is webpack related to your server?

[2020-07-16 13:12] funder7 commented on #168
Keep it as you like it. bye

[2020-07-16 13:14] evilebottnawi commented on #168
You can send a PR to docs if something is not clear for you, I just don't understand what do you want to document

[2020-07-16 17:24] #170 closed

[2020-07-16 18:45] funder7 commented on #168
Before sending a PR it's better to understand if it will be accepted, anyway I was trying to tell you that maybe, other people like me, could think that the whole set of options related to chunks compression is working, while in fact it's not!

If you look at the screenshot that I've posted some days ago, there the browser is telling that the asset received from the server is compressed. But it's

[2020-07-17 09:16] evilebottnawi commented on #168
And yes and no, some servers can serve `gzip` files if they exists, some of them can't work `gzip`, amazon for example only works with `gzip`, also come of them supports `brotli`, some not. It is real very spefific and require the knowledge about your server

[2020-07-22 13:50] rochabianca opened #172 "Compression webpack plugin seems to be causing javascript heap out of memory"
- Operating System: macOS Mojave v10.14.6
- Node Version:  v10.16.0
- NPM Version: 6.9.0
- webpack Version: 4.41.2
- compression-webpack-plugin Version: 4.0.0

### Expected Behavior

Run the dev server without memory leaks

### Actual Behavior

About sometime running the dev server or making some changes on the code the server unexpectedly stops while running the CompressionPlugin accusing that ja

[2020-07-22 14:00] evilebottnawi commented on #172
Please create reproducible test repo, I can't see full of line:
[code]

[2020-07-23 11:41] rochabianca commented on #172
It's hard to give you a reproducible test repo, because it seems to only happen in big projects and the project where this error is occurring is from my company, but I will try to create it, and then post it here

[2020-07-23 11:56] evilebottnawi commented on #172
@rochabianca Can you provide full string from my message above

[2020-07-23 12:49] rochabianca commented on #172
I tried to get the full string from the code you send me, but it didn't show up again and neither can I see the full log of this error. I will be closing it for now because it seems that can be other than the compression-webpack-plugin causing this error. Thank you very much for trying to help me :D

[2020-07-23 12:59] evilebottnawi commented on #172
@rochabianca I have idea why it is happens, but if you can provide more information, I can make sure I'm right

[2020-07-23 13:10] rochabianca commented on #172
the problem is, my log now is this:

[code]

It doesn't refer to the plugin anymore and I can't find a way to get the full log. Do you have any idea of how I can see the full log on terminal or a .log file to provide you more information?

[2020-07-23 13:26] evilebottnawi commented on #172
Yep, let's reopen, I will try to fix it at the next weem

[2020-07-25 14:45] CalebDelbridge commented on #63
I'm still having this issue, i have tried downgrading using the forked repo and nothing has this been fixed yet?

Dependencies
[code]

webpack.config.js
[code]

[2020-07-25 14:45] CalebDelbridge opened #173 "Compressing files copied by 'copy-webpack-plugin'"
I'm still having this issue, i have tried downgrading using the forked repo and nothing has this been fixed yet?

Dependencies
[code]

webpack.config.js
[code]

_Originally posted by @CalebDelbridge in https://github.com/webpack-contrib/compression-webpack-plugin/issues/63#issuecomment-663863368_

[2020-07-25 14:48] evilebottnawi commented on #173
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Please respect time other developers. Also I can't reproduce

[2020-07-25 14:48] #173 closed

[2020-07-25 14:49] evilebottnawi commented on #173
You should not never copy `dist` directory, because it is generated by `webpack`

[2020-07-25 14:50] CalebDelbridge commented on #173
I'm not copying dist I'm copying a directory named `public` to go into `dist`

[2020-07-25 15:02] CalebDelbridge commented on #173
@evilebottnawi I have updated the original comment to follow the template

[2020-07-25 15:08] evilebottnawi commented on #173
`copy-webpack-plugin` is not created to copy generated assets from webpack, it is only to copy assets before build

[2020-07-25 15:18] CalebDelbridge commented on #173
So what do you suggest I use then?

[2020-07-25 15:28] evilebottnawi commented on #173
`compression-webpack-plugin` already compress all assets copied by `copy-webpack-plugin`, I can't see the problem

[2020-07-25 15:43] CalebDelbridge commented on #173
Strange I don't seem to be getting those results as you seem to be getting i'll keep tweaking and trying my config

[2020-07-27 14:19] funder7 commented on #168
Ok, I see your point.
In fact I still don't understand what happened in my case_ when I have both compressed and uncompressed assets on the server, the compressed asset is served (at least it seems like that), while if *only* the compressed is present, it returns 404.

For me it's legit to think that the file resolution is managed by webpack, as it has this setting available.
I assume that in this

[2020-07-27 14:30] evilebottnawi commented on #168
I do not understand your problem, `deleteOriginalAssets` is remove original assets and keep only `gz` assets, it is useful for amazon and azure services, do not use this option if you use simple servers

[2020-07-27 21:09] funder7 commented on #168
that's it!! the magic info came out ;)

[2020-08-11 18:32] jaredbeck opened #175 "Security: Address CVE-2020-7660 with new release"
- Operating System: N/A
- Node Version: N/A
- NPM Version: N/A
- webpack Version: N/A
- compression-webpack-plugin Version: 4.0.0

### Expected Behavior / Situation

`yarn audit` should not report vulnerability for latest version, currently 4.0.0.

### Actual Behavior / Situation

`yarn audit` reports the following vulnerability:

- https://www.npmjs.com/advisories/1548
- https://github.com/adviso

[2020-08-11 19:06] evilebottnawi commented on #175
Fixed in master, release is soon https://github.com/webpack-contrib/compression-webpack-plugin/blob/master/package.json#L47

[2020-08-11 19:06] #175 closed

[2020-08-12 08:30] agaryen opened #176 "Vulnerability in latest release: serialize-javascript < 3.1.0"
Hey hey,

Here's the link to the [CVE](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-7660). It seems you already upgraded the version of serialize-javascript on master, but this has yet to be released.

Since it's only impacting webpack build, it's no big deal, but I guess it wouldn't hurt to have it fixed :).

[2020-08-12 10:18] evilebottnawi commented on #176
It is already fixed master, release will be today

[2020-08-12 10:18] #176 closed

[2020-08-12 11:26] #172 closed

[2020-08-17 13:11] evilebottnawi commented on #167
Found it is not bug, just bad documentation, instead `Number.MAX_SAFE_INTEGER` you should use `Infinity`

[2020-08-17 13:17] evilebottnawi commented on #167
Any number always are less then `Infinity` and `Infinity` is less then `Infinity`, so all assets will be compressed

[2020-08-17 13:44] #167 closed

[2020-08-28 07:16] xitter opened #185 "Chunk information in missing for compressed files"
When a compressed file is emitted, the chunks do not get updated. i.e.  for a `test.js` file, chunk information looks like:
[code]

Due to this issue, the final stats in thee done hook, do not map chunks to compressed assets.

- Operating System: macOS catalina
- Node Version: 10
- NPM Version:
- webpack Version: 4 & 5
- compression-webpack-plugin Version: ^5.0.1

### Expected Behavior

As a new c

[2020-08-28 07:17] xitter commented on #49
Added more descriptive issue: https://github.com/webpack-contrib/compression-webpack-plugin/issues/185

[2020-08-28 11:11] evilebottnawi commented on #185
You should use `assetsInfo` to get information https://github.com/webpack-contrib/compression-webpack-plugin/blob/master/src/index.js#L155

[2020-08-28 11:11] evilebottnawi commented on #185
But for webpack@4, you need to put own plugin after `compression-webpack-plugin`, for webpack@5 it is faxed

[2020-08-28 13:17] xitter commented on #185
Doesn't look fixed in v4 or v5, getting below output, see `chunkNames: []`, no chunks identified for the compressed asset.

<img width="608" alt="Screenshot 2020-08-28 at 6 42 42 PM" src="https://user-images.githubusercontent.com/8026722/91564497-5924c100-e95e-11ea-87b3-b9aa510942b7.png">

To fix this, chunks object need to be updated to have new asset name as well.

 i.e. `{ files: ['test.js', 't

[2020-08-28 13:19] evilebottnawi commented on #185
What do you mean `{ files: ['test.js', 'test.js.gz']}`?  we have `related` https://github.com/webpack-contrib/compression-webpack-plugin/blob/master/src/index.js#L234

What is webpack version?

[2020-08-28 13:20] evilebottnawi commented on #185
It is asset, so we don't know is this `chunk` or just `asset`

[2020-08-28 13:55] xitter commented on #185
Webpack version is 5. `related` won't help as related is attached to the original asset's info.

See the `chunks[0].files` array in the above image, it just contains `testApp.js`, and should contain `testApp.js.gz` as well. Because this chunk is part of gzipped file as well.

Due to the gzipped file not present in this chunk's file array, webpack's stat generation logic([L260](https://github.com/w

[2020-08-28 14:04] evilebottnawi commented on #185
Because `test.js.gz` is not `chunk`, it is `asset`, why do you need it in `files`?

[2020-08-28 14:06] evilebottnawi commented on #185
If `copy-webacpk-plugin` emit `js` asset, it is just asset, not chunk, so you fix is invalid

[2020-08-28 14:07] xitter commented on #185
You are right, `test.js.gz` is an asset and is related to a chunk. `files` is property of chunk, which indicates that which files have this chunk.

[2020-08-28 14:14] xitter commented on #185
`copy-webpack-plugin` doesn't operate on the files generated from the build process, so it need not to worry about the chunk of the build process.

[2020-08-28 14:15] evilebottnawi commented on #185
@xitter in this case `files` should contain only `js` files, not gzip or something else

[2020-08-28 14:16] xitter commented on #185
Including this can make, other plugins' life easy to see the correct stat info. See discussion on https://github.com/webpack-contrib/webpack-bundle-analyzer/issues/377#issuecomment-682347389

[2020-08-28 14:25] evilebottnawi commented on #185
@xitter Why do not use `assetInfo`? We have `related` property for this

[2020-08-28 14:26] evilebottnawi commented on #185
Let's open to find the most suitable and convenient solution to the problem

[2020-08-28 14:39] xitter commented on #185
@evilebottnawi I see 2 issues with `related` property in `assetInfo`,
1. `related ` property is available in the original asset. For the compressed asset, assetInfo is `{compressed: true}`.
2. Even if we solve 1st by adding `related` property in compressed asset's info, webpack's stat generation logic([L266-L283](https://github.com/webpack/webpack/blob/master/lib/stats/DefaultStatsFactoryPlugin.js

[2020-08-29 11:45] evilebottnawi commented on #185
No, we can't because the `related` property used by webpack for deleting assets, `compluation.deleteAsset()` remove assets and related files, if we added `related` to compressed files it break logic

webpack already generate stats in right way, compressed assets is not chunk, it is asset I written above

Why do not improve logic? It should be very easy, just check asset info?

[2020-08-31 22:38] szanata opened #187 "Not being able to overwrite assets with their compressed version"
- Operating System: Alpine
- Node Version: 14.9.0
- NPM Version: 6.14.8
- webpack Version: 4.41.1
- compression-webpack-plugin Version: 5.0.1

### Expected Behavior

Up until version 4.x, I could config `filename` to be the same name as the webpack output files (eg. `[path][query]`). This would overwrite the output files in the dist folder with a compressed version.

### Actual Behavior

After mig

[2020-09-01 10:32] evilebottnawi commented on #187
It is expected, you can't have assets with same names twice, they will overrides themselves, just like you cannot have two different files in the file system with the same path, change it to `filename: '[path].br',`

[2020-09-01 10:32] #187 closed

[2020-09-01 11:58] szanata commented on #187
I see. Thanks for the reply.

[2020-09-01 23:09] vitoyucepi opened #189 "Consequent builds with 5.0.1 and zopfli cause fail"
- Operating System: `archlinux`
- Node Version: `12.18.3`
- NPM Version: `6.14.7`
- webpack Version: `4.44.1`
- compression-webpack-plugin Version: `5.0.1`

### Summary
Regression since 5.0.0
I use compression plugin and zopfli like in https://webpack.js.org/plugins/compression-webpack-plugin/
In 5.0.1 I will receive the build error in consequent builds.
The quick fix for me is `yarn install --for

[2020-09-02 05:52] evilebottnawi commented on #189
WIP

[2020-09-02 06:30] evilebottnawi commented on #189
Found a bug, `gzip` return `Uint8Array`, but should return `Buffer`, I will fix it

[2020-09-02 07:17] #189 closed

[2020-09-02 07:20] evilebottnawi commented on #185
@xitter friendly ping

[2020-09-02 09:03] xitter commented on #185
If the asset is deleted(with `deleteOriginalAsset`), there is no asset info left. And stats are empty as the original asset is not available, while chunks keep referring to that.

[2020-09-02 09:05] evilebottnawi commented on #185
@xitter I don't understand your problem, please clarify

[2020-09-02 09:24] xitter commented on #185
Below is the stat information for config:
[code]
Stats:
[code]

This has the assetInfo as you mentioned.

However, if we use `deleteOriginalAssets: true` option,  stat output looks like below:

[code]
Here, this assetInfo can not be used to map chunks as chunks are referring to `testApp.js`(original asset), but that's not in the assets array.

[2020-09-02 09:34] evilebottnawi commented on #185
Just improve this, add additional check in your code, if you need we can added `{ originalSize }` to asset info, what do you need? what infromation?

[2020-09-07 22:05] taxilian opened #193 "Fallback file path option"
- Operating System: N/A
- Node Version: N/A
- NPM Version: N/A
- webpack Version: N/A
- compression-webpack-plugin Version: 5.0.2

### Feature Proposal

Add an option such as `defaultFile` which contains the path to a file which -- if provided -- will be served up if no existing file matches, instead of just falling through to the next middleware.

### Feature Use Case

The simplest case is a Vue

[2020-09-08 10:38] evilebottnawi commented on #193
Sorry, out of scope this plugin, you can use `copy-webpack-plugin` and copy `default` file

[2020-09-08 10:38] #193 closed

[2020-09-08 13:42] evilebottnawi commented on #185
@xitter friendly ping

[2020-09-14 13:02] evilebottnawi commented on #185
Closing due to inactivity. Thanks!

[2020-09-14 13:02] #185 closed

[2020-09-15 03:44] vitoyucepi opened #196 "Outdated filename template strings in README.md"
Documentation Is:

- [ ] Missing
- [ ] Needed
- [x] Confusing
- [ ] Not Sure?
- [x] Outdated

### Please Explain in Detail...

As of v6.0.0 `filename` template variables were refactored.
But `README.md` still has `[path]` instead of `[file]` or `[path][base]` or `[base]`.
I don't understand why do you use `[path][base].gz` instead of `[file].gz` as a default `filename` template.

Also https://webp

[2020-09-15 10:55] evilebottnawi commented on #196
`[file]` === `[path][base]`, so `[path][base].gz` === `[file].gz`, it can be changed without breaking change, but webpack uses small units, we can't use `[name][ext]` instead `[base]`, because `[ext]` can be empty and will be misleading in docs

[2020-09-15 10:55] #196 closed

[2020-09-15 14:20] vitoyucepi commented on #196
Still not fixed.

But in table on line 52 you use

Line 261

Other `[path]` are on lines:
- 399
- 426
- 433

[2020-09-15 14:23] vitoyucepi commented on #196
Don't do pr because of table alignment
https://github.com/vitoyucepi/compression-webpack-plugin/commit/ccfe556db08bd124d88b4bac85f4684cf4dc2775

[2020-09-15 14:28] evilebottnawi commented on #196
I don't understand you

[2020-09-15 14:39] evilebottnawi commented on #196
Oh, I see, fixed https://github.com/webpack-contrib/compression-webpack-plugin/pull/197

[2020-09-15 14:53] vitoyucepi commented on #196
https://github.com/webpack-contrib/compression-webpack-plugin/blame/master/README.md#L52
Replace `[base].gz` with `[path][base].gz`

[2020-09-15 15:12] evilebottnawi commented on #196
Fixed

[2020-09-16 03:56] kooriookami opened #199 "The created gzip files in unexpected directory"
- Operating System:
- Node Version:
- NPM Version:
- webpack Version:
- compression-webpack-plugin Version: 6.0.0

### Expected Behavior
Every gzip files should in correct directories.

### Actual Behavior

The created gzip files are in unexpected directory. The version 5.x has no mistake.
![image](https://user-images.githubusercontent.com/38392315/93289781-cdda7500-f811-11ea-8b5e-1748712940fd.png

[2020-09-16 11:24] #199 closed

[2020-09-19 11:17] artem-malko opened #202 "bug with multiple instance of compression-webpack-plugin in webpack 5 and inner cache"
- Operating System: macOS Catalina 10.15.6
- Node Version: v14.1.0
- NPM Version: v6.14.4
- webpack Version: v5.0.0-beta.31
- compression-webpack-plugin Version: v6.0.1

### Expected Behavior

Multiple compression-webpack-plugin instances (with different algorithm) creates different files with inner cache system of webpack

### Actual Behavior

Multiple compression-webpack-plugin instances (with d

[2020-09-19 14:26] evilebottnawi commented on #202
WIP

[2020-09-19 15:40] #202 closed

[2020-09-19 16:13] artem-malko commented on #202
Cool! Super fast fix)

[2020-09-27 19:40] csvan opened #204 "Error: EISDIR: illegal operation on a directory (same config fails under 6.x, works under 5.x)"
- Operating System: OSX
- Node Version: 14.11
- NPM Version: 6.18
- webpack Version:  4.42.2
- compression-webpack-plugin Version: 6.0.2

### Expected Behavior

Compression should work and output the result to the target directories.

### Actual Behavior

The config below worked fine under 5.x, but fails with the following error on 6.x. I have looked at the breaking changes and cannot see that we

[2020-09-28 11:49] evilebottnawi commented on #204
Do not use `/`, it is unsafe, you write files in the root of file system, and you don't have rights on this, it is part of breaking change for `v6`

[2020-09-28 11:49] #204 closed

[2020-09-28 11:50] evilebottnawi commented on #204
Also you can should `[path]` and need to use `[path][base].[ext]`, it is also part of breaking change

[2020-10-14 06:27] seebigs commented on #187
@evilebottnawi Could I ask you to please revaluate that choice? It would be great to allow this as an opt-in behavior.

Some folks (myself included) will face a use case where we've configured webpack to output some files that we intend to serve over a cdn (dist/partner1.js, dist/partner2.js, dist/partner3.js, and so on). While developing I'd like to output those files minified but uncompressed --

[2020-10-16 12:00] aradzie opened #207 "Plugin changes sourceMappingURL in compressed assets"
- Operating System: linux
- Node Version: v14.13.1
- NPM Version: 6.14.8
- webpack Version: 5.1.1
- compression-webpack-plugin Version: 6.0.3

### Expected Behavior

Content of the compressed assets is identical to the content of the original assets.

### Actual Behavior

Compressed assets are not identical to the original assets and have invalid `sourceMappingURL` which breaks debugging in browse

[2020-10-16 12:02] aradzie commented on #207
I took a brief look at the source code of the plugin and couldn't find anything related to sourceMappingURL, so this might be a webpack bug.

[2020-10-16 12:17] evilebottnawi commented on #207
Yep, bug, workaround `{ optimization: { realContentHash: false } }`

[2020-10-16 12:20] evilebottnawi commented on #207
Fix will be in near future

[2020-10-16 12:31] evilebottnawi commented on #207
@aradzie https://github.com/webpack/webpack/pull/11721

[2020-10-16 13:39] evilebottnawi commented on #207
Please try to use `5.1.3`

[2020-10-16 13:39] #207 closed

[2020-10-16 13:39] evilebottnawi commented on #207
Feel free to feedback

[2020-10-16 13:54] aradzie commented on #207
Yep, the latest webpack release 5.1.3 fixed the issue. Thanks for the quick response!

[2020-10-17 21:53] thasmo opened #208 "Accept function as value for test, include and exclude options"
- Operating System: Windows 10
- Node Version: 12
- NPM Version: 6
- webpack Version: 5
- compression-webpack-plugin Version: 6

### Expected Behavior / Situation
`test`, `include`, `exclude` options should accept type `Function` as value.

### Actual Behavior / Situation
`test`, `include`, `exclude`  only accept `{String|RegExp|Array<String|RegExp>}`.

### Modification Proposal
Make `test`, `incl

[2020-10-17 21:57] thasmo commented on #208
I'd like to do something like this; simplified:

[code]

[2020-10-19 12:17] evilebottnawi commented on #208
Sorry, out of scope plugin, it is core feature, also it was discussed, supporting function will reduce performance, you can use Promise and collect necessary information

[2020-10-19 12:17] #208 closed

[2020-10-19 12:17] evilebottnawi commented on #208
https://github.com/webpack-contrib/compression-webpack-plugin/blob/master/src/index.js#L144

[2020-10-24 18:57] 180254 commented on #154
Points 1 and 2 described there are still valid and documentation needs to be improved.

Rationale:
- Look at the typescript declaration for node zlib module (https://unpkg.com/browse/@types/node@14.14.2/zlib.d.ts).  ZlibOptions interface has the "level" property, while BrotliOptions does not.
- Look at the node zlib module source code (https://github.com/nodejs/node/blob/v15.0.1/lib/zlib.js). Brot

[2020-10-24 19:09] evilebottnawi commented on #154
Feel free to open a new issue or send a fix

[2020-10-29 16:26] defualt commented on #187
Overwriting was happening in v4.  I upgraded and it broke my deployment.  Now I need to implement a post build script to do this.

[2020-10-29 16:28] evilebottnawi commented on #187
@seebigs We can implement `force` option to override existing assets, maybe you can provide more information

[2020-10-29 17:10] defualt commented on #187
I'm uploading gzipped JS bundles to S3 with gzip content encoding headers, and those files are served from S3 urls.

[2020-10-29 17:28] szanata commented on #187
@defualt That was my use case as well. What I do now is to remove the `.br` extension from the filename when uploading to S3. That being said @evilebottnawi, it would be very nice to have an `force` or `overwrite` option, just to have more flexibility on the output.

[2020-10-29 17:35] evilebottnawi commented on #187
@szanata Can you open a new issue and describe it, it will be very easy to implement

[2020-10-29 17:44] szanata commented on #187
@evilebottnawi sure, thanks!

[2020-10-29 17:57] szanata opened #211 "Allow compressed assets to overwrite original assets with same filename"
### Feature Proposal

Until the version 5.x.x was released, it was possible to set `filename` option to just `[path]` and it would overwrite the original assets with the compressed ones, keeping the same name.

Since the version 5.x.x this is not possible as you get a **webpack** error: `WARNING in Conflict: Multiple assets emit different content to the same filename XXX.X`.

It would be nice to h

[2020-11-02 14:01] evilebottnawi commented on #211
Fixed without new options https://github.com/webpack-contrib/compression-webpack-plugin/pull/212, just set `deleteOriginalAssets` for your case, we just move logic for deleting above updating :smile:

[2020-11-02 14:02] #211 closed

[2020-11-02 14:04] evilebottnawi commented on #211
Please try https://github.com/webpack-contrib/compression-webpack-plugin/releases/tag/v6.0.5

[2020-11-02 14:12] szanata commented on #211
Thanks @evilebottnawi !

[2020-11-06 04:50] sibiraj-sr opened #215 "Sourcemaps are not emitted when excluded with `deleteOriginalAssets` option"
- Operating System: MacOs Catalina
- Node Version: 14.15
- NPM Version: 6.14.8
- webpack Version: 5.4.0
- compression-webpack-plugin Version: 6.0.5

### Expected Behavior

Sourcemap should be emitted with `deleteOriginalAssets` when excluded from compression.

### Actual Behavior

When `deleteOriginalAssets` is enabled and map files are excluded from the compression. It is expected that `js` files

[2020-11-06 10:35] evilebottnawi commented on #215
Expected, remove original source means remove source maps too

[2020-11-06 10:51] sibiraj-sr commented on #215
Thanks @evilebottnawi .

Anyway we could achieve this? I believe this is a general expectation. If this can't be fixed. Compression has to be done outside webpack I guess.

[2020-11-06 10:53] sibiraj-sr commented on #215
I was just thinking `deleteOriginalAssets` should have been something like `overwriteOriginalAssets` 🤔 .

[2020-11-06 10:55] evilebottnawi commented on #215
No new options, we can improve this, `deleteOriginalAssets: true | false | 'keep-source-map'`, but it will not easy to achieve

[2020-11-06 10:57] sibiraj-sr commented on #215
Sounds good. I can give it a try. Can you put out a help wanted label. Incase you are busy. Someone can take this?

[2020-11-06 11:08] evilebottnawi commented on #215
Yes, but nobody will take :smile: because it OSS

[2020-11-06 11:10] sibiraj-sr commented on #215
A Sad truth. 😅

[2020-11-06 11:11] evilebottnawi commented on #215
I think I was wrong here https://github.com/webpack-contrib/compression-webpack-plugin/blob/master/src/index.js#L303, it is easy:
[code]

[2020-11-06 11:11] evilebottnawi commented on #215
You can try, it should be really easy

[2020-11-06 11:13] sibiraj-sr commented on #215
Sure. Thanks for the tip.

[2020-11-06 14:25] sibiraj-sr commented on #215
@evilebottnawi I tried. But the sourceMap property alone seems can't be removed. This is what I did.

[code]

[2020-11-06 14:36] sibiraj-sr commented on #215
[code]

@evilebottnawi . removing the string doesn't work. some value has to be set for the  `sourceMap`. I am setting it to `null`. Is that fine?

[2020-11-06 14:46] evilebottnawi commented on #215
Let's use `delete newAssetInfo.related.sourceMap`, you should do it before https://github.com/webpack-contrib/compression-webpack-plugin/blob/master/src/index.js#L303

[2020-11-06 15:20] sibiraj-sr commented on #215
Actually thats what I did first.

[code]

only setting a new value to it works. else the property is added back again.

[2020-11-06 15:33] evilebottnawi commented on #215
Do it work?

[2020-11-06 15:44] sibiraj-sr commented on #215
Setting it to null works. but I am just little not sure if it, whether it will create any unintended sideeffects?

[2020-11-06 15:47] evilebottnawi commented on #215
No side effect, here simple logic, when something removed webpack automatically remove all related, so if you want keep something just remove it from `related`

[2020-11-09 11:36] #215 closed

[2020-11-11 17:40] jeffposnick opened #218 "Issue with compression of asset created during child compilation"
- Operating System: macOS 10.15.7
- Node Version: 12.18.3
- NPM Version: 6.14.6
- webpack Version: 5.4.0
- compression-webpack-plugin Version: 6.1.0

### Expected Behavior

When using `CompressionPlugin` alongside a plugin that performs a child compilation, like `workbox-webpack-plugin`'s `InjectManifest`, and compressing an asset created during that child compilation, the compression shouldn't ha

[2020-11-11 17:47] evilebottnawi commented on #218
No, child compilations can create new assets and we should compress them, otherwise it will be bug and some plugins like svg generator will not work

[2020-11-11 17:49] evilebottnawi commented on #218
You can prevent it by passing `compressed` (https://github.com/webpack-contrib/compression-webpack-plugin/blob/master/src/index.js#L185), but I found it hacky and weird

[2020-11-11 17:51] evilebottnawi commented on #218
You have same problems with all minimizers by the way and many other plugins, we need fix it on `workbox-plugin-side`

[2020-11-11 17:55] evilebottnawi commented on #218
You need delete assets from child compilation and re emit them again on the top compilation in your case, anyway I need to look at this deeply, will do tomorrow

[2020-11-11 17:57] evilebottnawi commented on #218
Small example, not tested:
[code]

[2020-11-11 17:59] evilebottnawi commented on #218
Or you can use `*` asset name like internal, but I found it also hacky

[2020-11-11 18:15] jeffposnick commented on #218
Thanks for your help!

I am not sure at what point code similar to https://github.com/webpack-contrib/compression-webpack-plugin/issues/218#issuecomment-725571732 is meant to be run. [There's a block of code in my plugin](https://github.com/GoogleChrome/workbox/blob/57ad215913b95f854f6ac981c77cb3536c46de48/packages/workbox-webpack-plugin/src/inject-manifest.js#L215-L226), executed by tapping into

[2020-11-11 18:30] evilebottnawi commented on #218
And yes and no, based on your case, if you need only assets without related you need to delete them, if you need just add code, you can use updateAssets

Here is not best way, it depends on what you need, I will look at the plugin code + adding test here to avoid future regressions + provide fix for your case

[2020-11-12 15:24] evilebottnawi commented on #218
@jeffposnick plugin broken on windows:
[code]

Why do you want to use rollup in build step, why do you prepare it before, it will reduce build time very well.

[2020-11-12 15:29] evilebottnawi commented on #218
Also if you want to improve build time, pass `minimized: true` in assets info for minimized files

[2020-11-12 15:39] #218 closed

[2020-11-12 15:49] evilebottnawi commented on #218
Fixed https://github.com/webpack-contrib/compression-webpack-plugin/releases/tag/v6.1.1, after discussion we decide run only minimizers on child compilation, because you and inject values from child compilations in source of assets

[2020-11-12 16:03] jeffposnick commented on #218
Thank you! So to be clear, the changes you suggested making in https://github.com/webpack-contrib/compression-webpack-plugin/issues/218#issuecomment-725570189 do not need to be implemented in `InjectManifest`?

So does the change you just made to `CompressionPlugin`, so that it taps into `thisCompilation`, also need to be made to other plugins? If someone complains in the Workbox issue tracker abo

[2020-11-12 16:13] evilebottnawi commented on #218
Yes

No, depends on usage, but most of plugins already in right way

Perhaps yes, but I don't think you will faced with it, edge case

But why you need rollup for this? I found it is some weirdly, webpack do it

[2020-11-12 16:32] jeffposnick commented on #218
Thanks for clarifying all that!

Developers use Workbox in a number of different ways, and a lack of consistency in how Workbox (in it's "generate a SW for me" mode) operates has historically been a source of bugs and developer confusion. Sharing as much code and configuration as possible between our `workbox-build`, `workbox-cli`, and `workbox-webpack-plugin` build tools is our solution, even if

[2020-11-12 16:43] evilebottnawi commented on #218
thanks for the answer, just don't forget to pass `minimized: true`, if you pass already uglified assets to reduce build time

[2020-11-14 16:58] jonnybarnes opened #221 "GitHub is trying to autolink some numbers"
Documentation Is:

- [ ] Missing
- [ ] Needed
- [x] Confusing
- [ ] Not Sure?

### Please Explain in Detail...

Looking at the plugins for brotli compression here: https://webpack.js.org/plugins/compression-webpack-plugin/#using-brotli

The example is meant to set the `zlib.constants.BROTLI_PARAM_QUALITY` value to be `11`. When this has been processed by whatever workflow to get it ready for the s

[2020-11-16 12:29] evilebottnawi commented on #221
@webpack-bot move to webpack/webpack.js.org

[2020-11-16 12:30] evilebottnawi commented on #221
Close in favor https://github.com/webpack/webpack.js.org/issues/4175, thanks for the issue

[2020-11-16 12:30] #221 closed

[2020-11-19 04:33] lijianq opened #222 "TypeError: Cannot read property 'tapPromise' of undefined for webpack 5.5.1"
when I tried "compression-webpack-plugin": "^6.1.1" with webpack 5.5.1 and run yarn build it reports:

yarn build
yarn run v1.22.10
$ vue-cli-service build

⠙  Building for production...Starting type checking service...
Using 1 worker with 2048MB memory limit
✔  Building for production...
 ERROR  TypeError: Cannot read property 'tapPromise' of undefined
TypeError: Cannot read property 'tapPromise'

[2020-11-19 11:49] evilebottnawi commented on #222
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

[2020-11-19 11:49] #222 closed

[2020-11-21 17:02] raldone01 opened #223 "TypeError: Cannot read property 'tapPromise' of undefined for webpack 5.6.0"
- Operating System: Windows
- Node Version: v14.5.0
- **P**NPM Version:  5.13.1
- webpack Version: 5.6.0
- compression-webpack-plugin Version: 6.1.1

### Expected Behavior

The specified files are compressed.

### Actual Behavior

Crash with the following error:
[code]

It appears that the processAssets hook doesn't exist?

### Code

[code]

### How Do We Reproduce?

`pnpm run serve`

<hr/>
Possib

[2020-11-23 10:52] evilebottnawi commented on #223
You still use webpack@4, nothing to fix on our side

[2020-11-23 10:52] #223 closed

[2020-11-23 11:06] raldone01 commented on #223
I am pretty sure I am using webpack 5.
Patched the apply function of your plugin:
[code]
Output:
[code]

Even if I was using webpack 4 shouldn't it work? Is webpack 4 not supported?

[2020-11-23 11:18] evilebottnawi commented on #223
`fork-ts-checker-webpack-plugin` is incompatibility with webpack@5, it patched webpack and do it in wrong way, so I don't think what we should fix here, another related issue - https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/issues/540

[2020-11-23 11:23] raldone01 commented on #223
Thank you for this information. I didn't notice this at all as I was using vue and it implicitly adds `fork-ts-checker-webpack-plugin`. I was really confused while checking your code. I have read the webpack plugin documentation and everything seemed correct.
So it is not your fault sorry.

[2020-11-23 11:32] evilebottnawi commented on #223
Don't worry, plugins are power and weakness, we have been working for a long time to provide as much api as possible to avoid patching, but some plugins still use this, so developers got these problems :disappointed:

[2020-12-03 05:45] wangmeng1991 opened #227 "TypeError: Cannot read property 'tapPromise' of undefined for webpack 5.9.0"
- Operating System: macOS 11.0.1
- Node Version: v15.3.0
- NPM Version: 6.14.9
- webpack Version: 5.9.0
- compression-webpack-plugin Version: 7.0.0

### Expected Behavior

compressed files

### Actual Behavior
[code]

### Code
[code]

### How Do We Reproduce?

npm run build

[2020-12-03 08:42] imLiukai commented on #227
compression-webpack-plugin Version 6.0.0 work fine!

[2020-12-03 08:43] imLiukai commented on #227
@wangmeng1991  compression-webpack-plugin Version 6.0.0 work fine!

[2020-12-03 10:05] gee1k commented on #227
+1

[2020-12-03 10:15] Ethan-yt commented on #227
+1

[2020-12-03 11:08] alexander-akait commented on #227
You still use old version of webpack - i.e. v4

[2020-12-03 11:08] #227 closed

[2020-12-03 16:44] nirmalhk7 commented on #223
Sorry, I'm getting the same error and I'm a bit lost. Here's the log:

[code]

I'm using Webpack 4.44.2 in my React app (Built over CRA). I find CompressionPlugin as a common 'webpack' way to reduce my bundle size, but whenever I add CompressionPlugin to my `webpack.config.js`, I get this error.

[2020-12-03 16:57] alexander-akait commented on #223
https://github.com/webpack-contrib/compression-webpack-plugin/releases/tag/v7.0.0

[2020-12-03 23:12] jkevingutierrez opened #228 "Compressed file is not emitted in webpack 5"
- Operating System: macOS 10.15.7
- Node Version: 14.15.0
- NPM Version: 6.14.9
- webpack Version: 5.9.0
- compression-webpack-plugin Version: 7.0.0 wp

### Expected Behavior

The file generated by compression-webpack-plugin should be emitted

![image](https://user-images.githubusercontent.com/6220055/101099523-cade5d80-3592-11eb-9e72-8c11f04f13b2.png)

### Actual Behavior

The file generated by c

[2020-12-04 12:51] alexander-akait commented on #228
Can't reproduce, all works fine:
[code]

Don't use `webpack-nano`, you don't need it, please use `webpack-cli` (official CLI for webpack)

In webpack@5 related assets are hidden from stats to reduce memory usage, you can use `--stats=detailed`

[2020-12-04 12:51] #228 closed

[2020-12-06 02:39] afzaalahmad opened #229 "Cannot read property 'tapPromise' of undefined"
- Operating System: Ubuntu 20.04
- Node Version: v12.20.0
- Yarn Version: v1.22.5
- webpack Version: v4
- compression-webpack-plugin Version: v7.0.0

### Expected Behavior
Should not throw error while building the project

### Actual Behavior
throwing error on running webpack for build
Error: `Cannot read property 'tapPromise' of undefined`

### Code
I am using `cra` with `customize-cra` and `reac

[2020-12-06 13:04] danieletulone commented on #229
Same error with a vue project.
I'm fixed making downgrade to ^6.0.0.

In package.json change the version from ^7.0.0 and replace with ^6.0.0. Then run `npm install`.

[2020-12-06 19:51] afzaalahmad commented on #229
@danieletulone for the time being, I downgraded my version to 6. But downgrading is not a solution of this bug.

[2020-12-07 10:41] alexander-akait commented on #229
You need webpack@5 to use latest version, please respect time of other developers and read CHANGELOG before update

[2020-12-07 10:41] #229 closed

[2020-12-09 12:56] Fa-So opened #231 "The "deleteOriginalAssets: true" option does not work in v7.0.0"
Issue 🔥

If the option `deleteOriginalAssets: true` is used, then it ends with the error message
`UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'source' of undefined`

With the `compression-webpack-plugin` **v6.1.1** everything works as expected.

- Operating System: Windows
- Node Version: 14.13.1
- NPM Version: 6.14.8
- webpack Version: 5.10.0
- compression-webpack-plugin Ver

[2020-12-09 13:15] alexander-akait commented on #231
Can't reproduce, please create reproducible test repo and I will reopen it

[2020-12-09 13:15] #231 closed

[2020-12-23 06:28] nanyang24 commented on #229
Your webpack version is v4
so the compression-webpack-plugin needs to be under v7

[2020-12-24 17:25] someden opened #236 ""TypeError: source.buffer is not a function" after update from 7.0.0 to 7.1.0 and when use with `webpack-stats-plugin`"
There is some error on build after update from 7.0.0 to 7.1.0 and if use `compression-webpack-plugin` with `webpack-stats-plugin`

Error when run `yarn build`:
[code]

Simple config to reproduce:
[code]

package.json:
[code]

[2020-12-25 12:20] alexander-akait commented on #236
Reported https://github.com/FormidableLabs/webpack-stats-plugin/issues/65

[2020-12-25 12:21] alexander-akait commented on #236
I will fix it on our side for compatibility reasons

[2020-12-25 12:43] #236 closed

[2020-12-25 12:46] alexander-akait commented on #236
Fixed https://github.com/webpack-contrib/compression-webpack-plugin/releases/tag/v7.1.1

[2020-12-25 12:47] alexander-akait commented on #231
Try https://github.com/webpack-contrib/compression-webpack-plugin/releases/tag/v7.1.1, maybe related

[2020-12-29 11:39] liuliangsir opened #238 "Missing a certain changes(include 0.1.0，0.1.1 and 3.0.1) in CHANGELOG.md"
Documentation Is:

- [x] Missing
- [ ] Needed
- [ ] Confusing
- [ ] Not Sure?

### Please Explain in Detail...
As the above title says, It seem to be missing a certain changes about 0.1.0，0.1.1 and 3.0.1

### Your Proposal for Changes
Add the missings back to CHANGELOG.md

[2020-12-29 11:40] alexander-akait commented on #238
We don't have changelog generation for this versions, also it is very old, no need to fix it

[2020-12-29 11:40] #238 closed

[2021-01-05 06:59] reversefuture opened #239 "Build error with webpack@4.44.1"
I'm useing compression-webpack-plugin@5.0.1 to compress webpack building assets, but each time I build I got below error:

`ModuleNotFoundError: Module not found: Error: Can't resolve 'module' in '\demo\node_modules\webpack\lib'`

In compression-webpack-plugin@7.1.1, I got below error:
` ERROR  TypeError: Cannot read property 'tapPromise' of undefined`

Any suggestions with above errors?

[2021-01-05 12:05] alexander-akait commented on #239
Because latest version compatibility only with webpack@5, please read CHANGELOG **carefully**

[2021-01-05 12:05] #239 closed

[2021-01-09 15:32] gqgs opened #240 "HookWebpackError: filenameForRelatedName.indexOf is not a function"
- compression-webpack-plugin Version: 7.1.1

### Expected Behavior

The plugin to compress data as expected.

### Actual Behavior

webpack crashes wtih a HookWebpackError after the plugin tries to access the `indexOf` of a function.

[code]

### Code

[code]

### How Do We Reproduce?

Apparently it happens if `algorithm` and `filename` properties are both defined as functions.
I could be missing s

[2021-01-09 15:36] alexander-akait commented on #240
Yep, bug

[2021-01-09 15:36] alexander-akait commented on #240
Just interesting - why do you use it as function?

[2021-01-09 15:42] gqgs commented on #240
@alexander-akait I'm using a different `algorithm` and `filename` functions. I just used that from the docs since it'd be easier to reproduce/understand.

[2021-01-09 15:45] alexander-akait commented on #240
Yep, I will fix it tomorrow, thanks for the issue

[2021-01-11 12:41] #240 closed

[2021-01-11 12:56] gqgs commented on #240
@alexander-akait Thank you.

[2021-01-20 07:26] Alecto opened #242 "An error occurred during the build: TypeError: Cannot read property 'tapPromise' of undefined"
- Operating System: windows 10
- Node Version: 14.15.4
- NPM Version: 6.14.10
- webpack Version:  webpack  5? (default for angular 11)
- compression-webpack-plugin Version: 7.1.2

### extra-webpack.config.js

[code]

![image](https://user-images.githubusercontent.com/8464662/105141238-86d2f800-5b01-11eb-8e95-a42c5327cecf.png)

i use  "@angular-builders/custom-webpack": "^11.0.0"

### angular.json

[2021-01-20 11:14] alexander-akait commented on #242
You need webpack@5 to use this plugin, please read CHANGELOG before updating, `@angular-builders/custom-webpack` can still use webpack@4

[2021-01-20 11:14] #242 closed

[2021-01-29 08:06] Sshhcc opened #243 "when i was compressed files,there were only one gz file left"
code:
"use strict";
const CompressionWebpackPlugin = require("compression-webpack-plugin");
const productionGzipExtensions = ["js", "css"];
module.exports = {
    lintOnSave: process.env.NODE_ENV !== 'production',
    productionSourceMap: false,
    configureWebpack: {
        plugins: [
            new CompressionWebpackPlugin({
              filename: "[path].gz[query]",
              algorithm:

[2021-01-29 08:06] Sshhcc commented on #243
is this correct?

[2021-01-29 10:18] alexander-akait commented on #243
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

Please respect time of other developers. Your issue is not readable.

Try `filename: "[path][name].gz[query]"`

[2021-01-29 10:18] #243 closed

[2021-02-11 12:24] tiaanduplessis commented on #223
For anyone running into this issue using [create-react-app](https://create-react-app.dev/) version 4, it uses [webpack 4](https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/package.json#L85) so `compression-webpack-plugin` needs to be locked to version `6.1.1`.

[2021-02-22 07:30] wiz-sheanqi commented on #173
I didn't get the result either. Did you make it？

[2021-03-03 11:41] Tofandel opened #244 "Doesn't compress output of PrerenderSPA Plugin"
Hello, the is an issue when using the [prerender spa plugin](https://github.com/chrisvfritz/prerender-spa-plugin) because this plugin runs on emit and the prerender plugin runs after emit, the files generated by the plugin will not be compressed and the original index.html will also be the one compressed instead of the one prerendered

Is there any workaround for this issue?

Maybe related to #218

[2021-03-03 11:46] alexander-akait commented on #244
No, you need to open an issue in https://github.com/chrisvfritz/prerender-spa-plugin, it is not compatibility with webpack v5, plugins should use `compilation.hooks.processAssets` for working with assets (https://github.com/webpack-contrib/compression-webpack-plugin/blob/master/src/index.js#L307), it is breaking change for webpack v5, so we can't fix it, sorry

Changing something in emit hooks is

[2021-03-03 11:46] #244 closed

[2021-03-03 12:05] Tofandel commented on #244
I see, so this plugin works correctly on webpack 5 correct? The other plugin needs to catch up to v5 and it should work?

Sadly right now the vue ecosystem is lagging on webpack 5 and 40% of the plugins still don't work on it

[2021-03-03 12:10] alexander-akait commented on #244
Yes and yes

Yep, migration is not easy, that is why we are moving more and more things to the core, so that the next migrations will be easier

[2021-03-08 20:47] ValeSauer commented on #223
Same for vue-cli 4.5.11

[2021-03-31 15:12] tomkelsey opened #245 "Using two instances of CompressionPlugin causes files to be unintentionally deleted?"
- Operating System: OSX 11.2.2
- Node Version: v12.14.1
- NPM Version: 6.13.4
- webpack Version: 5.28.0
- compression-webpack-plugin Version: 7.1.2

### Expected Behavior

- Use Compression Plugin once to compress with brotli (same file name, different path - `filename: '[path]/br/[file]'`
- Use Compression Plugin again to compress as gzip (same file name, same path - `filename: '[file]'`)

Using

[2021-03-31 15:19] alexander-akait commented on #245
Please do not ignore `How Do We Reproduce?`, we have tests on this cases

[2021-03-31 15:47] tomkelsey commented on #245
Hi - sorry - I'm not familiar with the test framework or webpack so hoped sharing the issue, my written explanation and my workaround was better than saying nothing at all.

That said - I appreciate it makes it a lot more difficult for someone to verify the issue or debug it.

With that in mind I've had a go at hacking something together (sorry if I've got the wrong end of the stick!):

[code]

I

[2021-03-31 15:49] alexander-akait commented on #245
You need to use different `filename` otherwise you will create multiple assets with the same name

[2021-03-31 15:50] alexander-akait commented on #245
I.e. you will have multiple files with the same name https://github.com/webpack-contrib/compression-webpack-plugin/blob/master/src/index.js#L27

[2021-03-31 15:58] tomkelsey commented on #245
Hi,

Thanks for the speedy responses!

For the setup I'm using elsewhere I ideally need to keep the filename the same but with a different path - perhaps it was by happy coincidence or fluke but it worked as I'd hoped on an earlier version of the plugin and with Webpack 4.

The filename option provided to CompressionWebpackPlugin is different - "[path]/br/[file]" vs "[file]", but I'm guessing you'

[2021-03-31 16:05] alexander-akait commented on #245
hm, maybe bug, can you send broken test?

[2021-03-31 16:14] tomkelsey commented on #245
Hey - sorry if I'm misunderstanding but the test I shared above highlights the issue I believe.

I think the output of `getAssetsNameAndSize()` should include multiple files in the `/br/` subdirectory but it only shows the gzipped files.

[code]

[2021-03-31 16:29] alexander-akait commented on #245
Yep, bug

[2021-03-31 16:29] alexander-akait commented on #245
Try to fix it in near future

[2021-04-01 16:21] alexander-akait commented on #245
When you use `deleteOriginalAssets` related assets deleted too (source maps, other gzip/compressed files/etc), because if you don't need original files you don't need related, for popular case we have `keep-source-map`, i.e. remove all and keep source maps, here two solutions: use `filename: "[path]/js/[file]",` or we can implement `deleteOriginalAssets: (relatedFiles) => {}` where you will decide

[2021-04-01 16:28] alexander-akait commented on #245
In theory you need `deleteOriginalAssets: 'keep-assets-other-compressed-files'`, but here problem, we don't know how to detect it, other plugins also can create different files and we don't know is it compressed or not (in theory we can add more information for assets), but this will create compatibility problems with other plugins and it is ambiguous.

[2021-04-01 16:30] alexander-akait commented on #245
I would call it a limitation. Will be great if you can use `filename: "[path]/js/[file]"`

[2021-04-06 08:39] tomkelsey commented on #245
Hi,

Thanks for looking into this.

I've realised the "solution" I linked above using multiple algorithms with one instance of the plugin doesn't work properly. Webpack seems to be losing track of what files had been deleted/created (which fits with the potential weird behaviour you mentioned above).

I've taken your advice and now use `"[path]/br/[file]"` and `"[path]/gz/[file]"` for the two file

[2021-04-06 11:35] alexander-akait commented on #245
There is no webpack problems, it is hard for us, I can implement this, but it is not easy (also it reduce performance), in some cases limitation is good :smile:

[2021-04-19 07:55] thenoseman opened #248 "Suggestion: Loosen webpack peer dependency"
- Operating System: MacOs Catalina 10.15.7
- Node Version: v15.14.0
- NPM Version: 7.10.0
- webpack Version: > 5.1.x
- compression-webpack-plugin Version: > 6.1.1

### Expected Behavior / Situation
Updating an vue app from webpack4 to webpack5.
Updating packages to versions using webpack 5 should update to a compatible webpack 5.* version.

### Actual Behavior / Situation
Lot's of plugins require

[2021-04-19 09:56] alexander-akait commented on #248
`^5.1.0` means `5.1.0` and above, Can you clarify what is the problem?

[2021-04-19 12:04] thenoseman commented on #248
You are totally right and I'm totally wrong :)
Sorry. Mistook it for `~`.

Then I have to look elsewhere. Thanks!

[2021-04-19 12:04] #248 closed

[2021-06-05 13:18] webpack-bot opened #250 "Invalid chunkfile extensions with Webpack Module Federation and Webpack Compression plugin"
# Bug report

**What is the current behavior?**
When I build an application using the Webpack Module Federation plugin and [Webpack Compression plugin](https://github.com/webpack-contrib/compression-webpack-plugin), the `webpack/runtime/get` function does not return the proper chunk file extension. I am not sure if this is an issue with Webpack Module Federation or the Webpack Compression plugin,

[2021-06-05 13:37] alexander-akait commented on #250
Why you expected `gz` extensions in JS :confused: gz automatically load by server when you request `js` file, please read how it works https://docs.nginx.com/nginx/admin-guide/web-server/compression/#sending-compressed-files

[2021-06-07 17:22] raspy8766 commented on #250
To your point about referencing `gz` extension in a `js` file, the url that's being built from the `webpack/runtime/get` function  is used for a network request not a `require` statement or dynamic `import`. That being said, it's possible that Webpack may decide to use dynamic import statements internally in the future, which would then break (e.g. `import("dashboard/551.a031afe12e734cd6fa12.js.gz

[2021-06-07 17:25] alexander-akait commented on #250
Yep, in this case you need to set `[path][base]', sorry, forgot about S3 and compression and no extension

[2021-06-07 17:25] alexander-akait commented on #250
Anyway feel free to feedback or open an issue if you need help more

[2021-06-07 17:25] #250 closed

[2021-07-02 22:06] dko-slapdash opened #254 "@types/compression-webpack-plugin for Webpack 5"
Hi.

Currently, @types/compression-webpack-plugin is incompatible with webpack 5 typing - Compiler type is different.

[2021-07-03 13:01] alexander-akait commented on #254
Please open an issue in https://github.com/DefinitelyTyped/DefinitelyTyped, in near future we want implement ts support out of box, but problem with @types/compression-webpack-plugin we can't solve here

[2021-07-03 13:01] #254 closed

[2021-07-09 16:51] nickensoul commented on #254
Hey. FYI: I've just [created a discussion topic](https://github.com/DefinitelyTyped/DefinitelyTyped/discussions/54412) about this problem in the DefinitelyTyped's discussion board.

[2021-07-12 23:21] tswaters commented on #242
I came here via the webpack docs.

When selecting version 4 of the docs, this page is displayed:  https://v4.webpack.js.org/plugins/compression-webpack-plugin/

Which appears to inject the latest readme from this repository.

Would it be possible to include a disclaimer near the top of this file that indicates the supported webpack versions?

Gleaning the CHANGELOG -- v7.0.0 -> drops webpack 4 sup

[2021-08-10 03:59] qqii3184 opened #261 "TypeError: Cannot read property 'tapPromise' of undefined"
- Operating System:  Windows 10
- Node Version: 14.17.4
- NPM Version: 6.14.14
- webpack Version: 5.49.0
- compression-webpack-plugin Version: 8.0.1

### Expected Behavior

- use compression-webpack-plugin to open gzip support.

### Actual Behavior

I install  compression-webpack-plugin with npm , and write code in vue.config.js
then run order : npm run build
Console show the Error : TypeError: Ca

[2021-08-10 09:04] alexander-akait commented on #261
run `npm ls webpack`, you still on webpack v4, sorry can't be fixed here

[2021-08-10 09:04] #261 closed

[2021-08-25 13:18] dvcrn commented on #223
I am on webpack 4 through CRA 4, but pinning the plugin to 6.1.1 is still giving me the tapPromise error. Tried a bunch of different versions as well but no luck.

[code]

[2021-08-25 13:21] dvcrn commented on #223
What are you hinting at?

[code]

[2021-08-25 13:24] alexander-akait commented on #223
check global installed packages, you can use `webpack-cli` globally installed and npm v5 automatically install webpack v5

[2021-08-25 13:35] dvcrn commented on #223
Thanks for the quick reply, no I don't have any global webpack related packages besides create-react-app, which is also pinned to the latest v4

It tries to use the emit hook which doesn't exist in my `compiler.hooks`

[code]

[2021-08-25 13:40] dvcrn commented on #223
I figured it out. I added the plugin to the wrong section, so it got called with the resolver instead of compiler.

[2021-09-06 16:23] MadShura commented on #223
Same for vue-cli 4.5.13.
so i must use compression-webpack-plugin  on  version 6.1.1. ?
thanks your help first !

[2021-09-06 16:28] alexander-akait commented on #223
yes, for webpack v4 you need to use `6.1.1`

[2021-09-22 02:18] rcklmk commented on #75
@o-alexandrov
Hi, I'm glad that I found your comment, it helped me solve the problem of serving gzipped static assets directly from S3 (especially webpack chunks).

With regards to on-the-fly gzip decompression, I was wondering if you could provide any reference to the page that documents this behavior or some way to test it - I tried googling, but the ones I found were talking about CloudFront's

[2021-09-22 02:18] rcklmk commented on #75
@o-alexandrov
Hi, I'm glad that I found your comment, it helped me solve the problem of serving gzipped static assets directly from S3 (especially webpack chunks).

With regards to on-the-fly gzip decompression, I was wondering if you could provide any reference to the page that documents this behavior or some way to test it - I tried googling, but the ones I found were talking about CloudFront's

[2021-10-24 11:40] emre-sozen opened #266 "tabPromise is not defined - compression-webpack-plugin"
I have some error. tabPromise is not defined => compression-webpack-plugin / index.js

[2021-10-24 11:40] #266 closed, assigned to nobody

[2021-11-01 15:22] colorninja opened #267 "Changes input filenames when used in conjuction with webpack-manifest-plugin"
### Bug report
When used together with webpack-manifest-plugin, it changes the input filenames to add .gz, which kind of defeats the purpose of having a the manifest file. The manifest plugin works correctly when used without the compression plugin.

It's quite inconvenient when reading from the manifest and having non-compressed development version and compressed production version.

### Actual B

[2021-11-01 15:33] alexander-akait commented on #267
Please open this in `WebpackManifestPlugin` repo

[2021-11-01 15:33] #267 closed

[2021-11-01 15:34] alexander-akait commented on #267
You should not use `.gz` in HTML, CSS, JS, it is invalid, if you need this for serer purposes, it is out of scope this plugin and should be done by `WebpackManifestPlugin`

[2021-12-10 22:02] vitoyucepi opened #273 "[types] Failed to import new types"
### Bug report
Since 0acff903ded3fae933e0cc2c9727e3637310f5af `compression-webpack-plugin` provides it's own types and `@types/compression-webpack-plugin` has marked as stub.
But it's unable to simply migrate from one to another because types can't be imported in the same way.

### Actual Behavior
With `compression-webpack-plugin@9.1.1` types can't be imported
[code]
because
[code]

### Expected B

[2021-12-11 15:35] alexander-akait commented on #273
Yes, I see, we don't write types manually, they are generated by `typescript`, and plugin in common js format, so you need to use if you want to import plugin:
[code]

For types, please use:
[code]

[2021-12-11 22:33] vitoyucepi opened #274 "[types] `@gfx/zopfli` can't be used with new types"
### Bug report
New types from `compression-webpack-plugin@9.1.1` are not compatible with `@gfx/zopfli`.
With `@types/compression-webpack-plugin@9.0.0` and `compression-webpack-plugin@9.1.0` it works fine.

### Actual Behavior
With `compression-webpack-plugin@9.1.1` zopfli can't be used as compression algorithm
[code]
produces errors:
[code]

### Expected Behavior
New types should support `zopfli`

[2021-12-13 10:22] alexander-akait commented on #274
We are generic type, please use:
[code]

[2021-12-13 10:22] #274 closed

[2021-12-13 10:50] alexander-akait commented on #274
But I see some incompatibilities, I will fix it

[2021-12-13 11:17] alexander-akait commented on #274
https://github.com/webpack-contrib/compression-webpack-plugin/pull/275

[2021-12-15 01:44] vitoyucepi commented on #273
Just done some more testing.

[code]

With default typescript project config this works fine.
Here's my script
[code]
Everything else remains the same.

`tsconfig.json` option `esModuleInterop` can be set to `true` for compatibility with the older node versions.

@alexander-akait could you please share a test case that will not work without reexport to `cjs`.
Is it related to linking and type gene

[2021-12-15 11:24] alexander-akait commented on #273
Yep, we have a problem, we are in cjs, but exports esm types, due babel and traspiling, we should fix it, so I keep it open

[2021-12-16 11:43] #273 closed

[2022-03-05 10:55] lolo-io opened #290 "Getting error TS1005: '?' expected"
Hi, when I add the plugin to my webpack config, I get those two errors when I build :

[code]

Any help ?
Thanks :)

[2022-03-05 10:58] alexander-akait commented on #290
Looks like you use old version of ts, parser problem

[2022-03-05 11:08] lolo-io commented on #290
Oh, that was it :)
I upgraded my typescript version and it works now. Thank you !

[2022-03-05 11:08] #290 closed

[2022-04-07 06:32] bbhxwl opened #294 "Always 404, I don't know why,"
Server nginx and local are 404. I don't know why.

vue2     vue.config.js
[code]
[code]

![image](https://user-images.githubusercontent.com/26525599/162134802-23565b25-d1a2-4648-931e-d87c9dfa05c1.png)

[2022-04-07 13:08] alexander-akait commented on #294
Please open an issue in `vue-cli`, sorry we can't fix it here

[2022-04-07 13:08] #294 closed

[2022-04-07 13:09] alexander-akait commented on #294
Also try to set `deleteOriginalAssets: false`, I think you need original assets

[2022-05-04 10:28] samagragupta commented on #211
@alexander-akait if `deleteOriginalAssets` is set to `false` then will it overwriteAssets?

[2022-05-09 14:58] guestisp opened #299 "gzipped css not updated in html file"
v9.2.0

With the following configuration:
[code]

and this *original* `index.html` file:
[code]

the CSS bundle file is compressed as expected:
[code]

but the resulting index file is not updated, still referes to the uncompressed version:
[code]

[2022-05-11 11:33] alexander-akait commented on #299
Because browser doesn't support `.gz`, it is for server, when browser ask `main.328b6632c1e3.css`, server will look `main.328b6632c1e3.css.gz` in directory and will use it for `main.328b6632c1e3.css`, you should not have `.gz` in `html` files

[2022-05-11 11:33] #299 closed

[2022-05-11 11:50] guestisp commented on #299
Well, I have .gz on ALL files in the html except one, so there is something wrong anyway. Look at the un-minified index:
[code]

as you can see, other files have `.gz` extension (and browsers are able to handle them, anyway)
If this is not an expected behaviour, you should not update webpack assets list with the new names or other plugins will get the gzipped name: https://github.com/webpack-contr

[2022-05-11 11:58] alexander-akait commented on #299
I don't see `.gz` in your HTML file

[2022-05-11 12:40] guestisp commented on #299
Pardon, wrong post. This is the correct one:
[code]

Seems to change after build. that's why i've thought in a race condition, based on when the html plugin starts. But i'm unsure, what i know is that I have to handle both files (with an without .gz) with a regex

[2022-05-11 15:08] alexander-akait commented on #299
You can't use `.gz` in `src` for `script`, same for CSS, yes, you can setup server to handle it, but it sounds invalid

[2022-05-11 16:54] guestisp commented on #299
Ok, but why some files are wrote gzipped in the index.html ?
It's ok to have all *.gz or without .gz but they should be al the same.

[2022-05-11 18:27] guestisp commented on #299
https://webpack.js.org/plugins/html-webpack-plugin/

[2022-05-11 20:27] alexander-akait commented on #299
What is webpack version? Can you fill out an issue template to avoid unnecessary questions?

[2022-05-11 21:01] guestisp commented on #299
v5. i'll post the missing info tomorrow

[2022-05-12 09:36] guestisp commented on #299
updated the first post.

[2022-05-12 12:35] alexander-akait commented on #299
I think bug in `optimize-css-assets-webpack-plugin`, please migrate to https://github.com/webpack-contrib/css-minimizer-webpack-plugin

[2022-05-12 13:29] guestisp commented on #299
It's not used, was here before upgrading from webpack v3 and never removed but i'm using `css-minimizer-webpack-plugin: ^3.4.1 => 3.4.1` as you can see in the report.

anyway, i've uninstalled the old garbage.

[2022-05-12 23:28] alexander-akait commented on #299
You should not have `.gz` files in HTML, If you provide reproducible test repo I will look

[2022-05-24 12:29] LiuduZero commented on #239
@alexander-akait  excuse, but I use the old version (5.0.2), webpack is @vue/cli-plugin-babel@4.5.17----webpack@4.46.0 , is appear `Module not found: Error: Can't resolve 'module'`

[2022-05-24 12:32] LiuduZero commented on #261
when I use 6.1.1, it appear the error like this
[code]

when I try the older version, its the same error like above

[2022-05-24 12:33] LiuduZero commented on #261
@qqii3184
when I use 6.1.1, it appear the error like this
[code]
when I try the older version, its the same error like above

[2022-05-24 12:39] alexander-akait commented on #239
You need 4 version for old webpack

[2022-05-24 12:42] LiuduZero commented on #223
@alexander-akait

Here is my dependencies

<img width="357" alt="image" src="https://user-images.githubusercontent.com/24452177/170036833-e7380a9e-9ab4-4ce8-a4e8-87ea918d03e6.png">
And I use `6.1.1` it appear

<img width="596" alt="image" src="https://user-images.githubusercontent.com/24452177/170037026-052edb54-b601-4541-bb36-b63b9e54425f.png">

[2022-05-24 12:42] alexander-akait commented on #223
Please use `compression-webpack-plugin@4` for webpack v4

[2022-05-24 15:35] LiuduZero commented on #223
@alexander-akait  thanks for your timely reply, but it not work as expect

<img width="1102" alt="image" src="https://user-images.githubusercontent.com/24452177/170075425-735ac66f-cf1d-498a-ab1c-3ed9a0c46897.png">

[2022-05-24 16:04] LiuduZero commented on #239
I think it`s very, strange, when I build another project with vesion `^4`, it work well

[2022-05-24 16:11] alexander-akait commented on #239
Try to update webpack version, to the latest stable v4

[2022-05-24 17:55] LiuduZero commented on #239
Oh I'm so sorry, version `^6.1.1` or `^4` is ok, last times work bad becauce anther reason

vue.config.js is quoted by sourceFile like entry.js

vue.config.is
[code]

sourceFile
[code]
![image](https://user-images.githubusercontent.com/24452177/170100876-5e62c2bc-e53e-4c9a-bd72-8e8af4dd66ab.png)

Thanks for you help very much!

[2022-05-24 17:55] LiuduZero commented on #239
Good night

[2022-08-04 05:44] linxiaowu66 opened #314 "compress images not work"
config as below:
[code]

And I also config the image with url-loader:

[code]
Then all images below 8192 Byte will be compile to base64 embeded in the js file, however there are two images are bigger than 8192 Byte(one is 15KB, another is 55KB), so I think them will be compressed with this plugin, but not work.

I use these image just below:

[code]

![image](https://user-images.githubusercontent.

[2022-08-08 10:03] hesiyuetian opened #315 "TypeError: Cannot read properties of undefined (reading 'tapPromise')"
CODE:

new CompressionWebpackPlugin({
    filename: "[path][base].gz",
    algorithm: "gzip",
    test: /\.js$|\.css$|\.html$/,
    threshold: 10240,
    minRatio: 0.8,
  }),

ERROR:

TypeError: Cannot read properties of undefined (reading 'tapPromise')
    at /Users/lydia/Desktop/react/halo-manage-react/node_modules/compression-webpack-plugin/dist/index.js:414:39
    at SyncHook.eval [as call] (e

[2022-08-10 11:49] alexander-akait commented on #315
Sorry, you have an old version of `webpack`, the latest version of the plugin requires the latest version of `webpack` (v5)

[2022-08-10 11:49] #315 closed

[2022-08-10 13:05] alexander-akait commented on #314
Can you create reproducible test repo, I think you have a mistake somewhere in a configuration

[2022-08-30 11:45] KristinaB162 commented on #299
In my index.html the script tags are completely missing when the property "deleteOriginalAssets" is true. Described in the mentioned issue above.
At the moment i use a postbuild to delete all not compressed files after compression (with deleteOriginalAssets on false).

[2022-09-19 15:37] alexander-akait commented on #314
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2022-09-19 15:37] #314 closed

[2022-09-29 11:41] kalitine commented on #173
I have a few JS files to copy and compress, but the compression works for one file and I have no idea why. All files have the same file rights, all are in the same folder, just different content.

[2022-11-17 08:27] zhangshuai0101 commented on #239
请问您是怎么解决的？目前我也是一直在报这个错误，版本使用的6.1.1

[2022-11-17 20:46] olof-nord opened #329 "Allow usage of 6.x version without md4"
### Feature Proposal

### Feature Use Case

With Node.js v17+ removing the `md4` hashing algorithm, the usage of the `CompressionPlugin` unfortunately breaks the build.

If Webpack 4 is detected, the Node.js createHash function is unfortunately called assuming that "md4" is available.

[code]

https://github.com/webpack-contrib/compression-webpack-plugin/blob/v6.1.1/src/index.js#L232

If a project

[2022-11-17 20:58] alexander-akait commented on #329
Why don't update to webpack5? Is is deprecated

[2022-11-17 21:03] olof-nord commented on #329
Very valid point, I should have clarified.

The [project](https://github.com/mastodon/mastodon) is configuring webpack with a ruby gem, [webpacker](https://edgeguides.rubyonrails.org/webpacker.html), which unfortunately only supports webpack 4.

Webpacker has been retired - we were investigating possibilities of a solution which does not involve replacing it.

[2022-11-17 21:34] alexander-akait commented on #329
If it is deprecated you can get all webpack configuration and runner from this package and move to own, so you will have access to update deps and start to migrate

[2022-11-17 21:37] olof-nord commented on #329
appreciating your input!

[2022-11-17 21:37] #329 closed